@model CursosLibrary.ModuloCursosUbicacionesListadoViewModel

@{
    Layout = "~/Views/Shared/Modulo-Cursos/_Cursos-Ubicaciones.cshtml";
    ViewData["Title"] = "Listado de ubicaciones";
    ViewData["Title-Bloque-1"] = "Ubicaciones";
    ViewData["Title-Buscar"] = "Buscar ubicación";
    ViewData["Message"] = "CMS - Gaolos App v2017";
}

<div class="main-content m-0" id="widget-area">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 header-section">
                <h2>@ViewData["Title"]</h2>
                @Html.Raw(ViewData["Migas"])
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                @if (Model.Model.Err.eserror)
                {
                    ViewData["err"] = Model.Model.Err.mensaje;
                    @Html.Partial("AccesoDenegado");
                }
                else
                {
                    <div class="card mb-3">
                        <div class="card-header card-header-options">
                            <span>@ViewData["Title-Buscar"]</span>
                            @Html.Partial("PanelActions")
                        </div>
                        <div class="card-block">

                            <div class="row">
                                <div class="col-2 text-center">
                                    <img src="~/flaticons/placeholder.svg" style="width: 50%">
                                </div>
                                <div class="col-10">
                                    <form action="@ViewData["Form"]" method="post" class="mt-2 pr-0 pl-0">
                                        <input type="text" class="form-control col-11" placeholder="Buscar ubicación..." name="buscar" value="@ViewData["buscar"]">
                                        <button class="btn btn btn-primary btn-sm mt-3" type="submit">Buscar</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                    @* Listado de Ubicaciones *@

                    <div class="row">
                        <div class="col-12">
                            <div class="card card-table mb-3">
                                <div class="card-header card-header-options">
                                    <span>Ubicaciones</span>
                                    <div class="input-group input-group-sm col-5 mr-0 pr-0">
                                        <input type="text" class="form-control form-control-sm" id="cursos-nueva-ubi" placeholder="Nueva ubicación">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-primary btn-sm cursos-nueva-ubi">Nueva</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-block">
                                    @if (Model.Model.det != null)
                                    {
                                        <table class="table table-striped table-select">
                                            <thead>
                                                <tr>
                                                    <th class="w-10">Fecha <a href="#" class="sort-active"><i class="fa fa-chevron-down"></i></a><a href="#"><i class="fa fa-chevron-up"></i></a></th>
                                                    <th class="w-25">Ubicaciones</th>
                                                    <th class="w-25">Tipo <a href="#"><i class="fa fa-chevron-down"></i></a><a href="#"><i class="fa fa-chevron-up"></i></a></th>
                                                    <th class="w-25">Observaciones</th>
                                                    <th class="w-25">Provincia</th>
                                                    <th class="w-25">Eliminar</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @for (Int32 t = 0; t < Model.Model.det.Length; t++)
                                                {
                                                    <tr>
                                                        <td>
                                                            <p class="mt-0 mb-0">@Model.Model.det[t].Fe_Al</p>
                                                        </td>
                                                        <td>
                                                            <a href="#" id="ubi_@Model.Model.det[t].ID_Ubi2" class="fw-5 cursos-datos-ubi">
                                                                @if (Model.Model.det[t].SinLatLon)
    {
                                                            <i class="fa fa-exclamation-triangle mr-1 text-danger" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="No tiene la Geolocalización completada"></i>
}
                                                                @Model.Model.det[t].Ubi
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <p class="m-0 fw-5">@Model.Model.det[t].Tipo</p>
                                                        </td>
                                                        <td>
                                                            <p class="m-0">@Model.Model.det[t].Obs</p>
                                                        </td>
                                                        <td>
                                                            <p class="m-0">@Model.Model.det[t].Pro</p>
                                                        </td>
                                                        <td class="text-center">
                                                            <a href="#" id="ubieli_@Model.Model.det[t].ID_Ubi2" class="fw-5 text-danger cursos-eliminar-ubi"><i class="fa fa-times"></i></a>
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>

                                    }
                                    else
                                    {
                                        <p class="mb-0 fw-5 p-3 text-danger"><i class="fa fa-times"></i> No hay resultados</p>

                                    }
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    @* Resultado Búsqueda Paginador *@

                    @if (Model.Model.det != null)
                    {
                        <nav aria-label="Búsqueda Listado" class="mb-3">
                            @Html.Raw(Model.Model.Paginador)
                        </nav>
                    }



                }
            </div>
        </div>

    </div>

</div>