@model ModuloMantenimientosLibrary.ModuloMantenimientosListadoViewModel

@{
    Layout = "~/Views/Shared/Modulo-Mantenimientos/_Modulo-Mantenimientos.cshtml";
    ViewData["Title"] = "Listado de mantenimientos de baja o finalizados";
}

<div class="main-content m-0">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 header-section">
                <h2>@ViewData["Title"]</h2>
                @Html.Raw(ViewData["Migas"])
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

@if(Model.Model.Err.eserror)
    {
        ViewData["err"] = Model.Model.Err.mensaje;
        @Html.Partial("AccesoDenegado");
    }
    else
    {

                @* Buscar usuarios *@

                <div class="card mb-3">
                    <div class="card-header card-header-options">
                        <span id="res">Buscar mantenimientos</span>

                        <div class="card-actions">
                            <ul>
                                <li><a href="#" class="handle"><i class="fa fa-bars"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block p-0">

                        <form action="@ViewData["Form"]" method="post">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="col-1 text-center box-border-right-light py-2">
                                    <img src="https://image.flaticon.com/icons/svg/321/321863.svg" style="width: 100%;">
                                </div>
                                <div class="col-11">

                                    <div class="row p-0">
                                        <div class="col-12 p-0">
                                            <div class="d-flex mb-0 px-3">

                                                <div class="input-group card-search-box">
                                                    <input type="text" class="form-control" placeholder="Buscar mantenimientos" name="buscar" value="@ViewData["buscar"]">
                                                    <span class="input-group-append">
                                                        <button class="btn btn-primary btn-sm" type="submit">BUSCAR</button>
                                                    </span>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>


                    <div class="row">

                        <div class="col-8">
                            @* Listado de mantenimientos *@
                            <div class="card card-table mb-3">
                                <div class="card-header card-header-options">
                                    <span>@ViewData["Title"]</span>
                                </div>
                                <div class="card-block">

                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center w-5">Nº</th>
                                                <th class="text-center">Fecha</th>
                                                <th class="text-left w-40">Cliente</th>
                                                <th class="text-left">Dirección</th>
                                                <th class="text-right">Ref.Cli.</th>
                                                <th class="text-right">Recuperado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Model.det != null)
        {
                        @for (Int32 t = 0; t < Model.Model.det.Length; t++)
{
                                            <tr>
                                                <td class="text-center">
                                                    <p class="fw-5 mb-0"><a href="@ViewData["Form"]/mantenimiento?ID_Man2=@Model.Model.det[t].ID_Man2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ir al mantenimiento de baja" class="fw-5">@Model.Model.det[t].ID_Man2</a></p>
                                                </td>
                                                <td class="text-center">
                                                    <p class="fw-5 mb-0">@Model.Model.det[t].Fe_Al</p>
                                                </td>
                                                <td>
                                                    <p class="fw-5 mb-0"><b>@Model.Model.det[t].Emp</b></p>
                                                    <p class="fw-5 mb-0"><small>@Model.Model.det[t].Dir</small></p>
                                                    <p class="fw-5 mb-0"><small>@Model.Model.det[t].Pob - @Model.Model.det[t].CP  - @Model.Model.det[t].Pro</small></p>
                                                </td>
                                                <td>
                                                    <p class="fw-5 mb-0"><small><b>@Model.Model.det[t].ExpoBaj</b></small></p>
                                                    <p class="fw-5 mb-0"><small>@Model.Model.det[t].UsuBaj</small></p>
                                                    <p class="fw-5 mb-0"><small>@Model.Model.det[t].Fe_Ba</small></p>
                                                </td>
                                                <td class="text-right">
                                                    <p class="fw-5 mb-0">@Model.Model.det[t].RefCli</p>
                                                </td>
                                                <td class="text-center">
                                                    <p class="fw-5 mb-0">
                                                        @if (Model.Model.det[t].PeriVis != "")
                                                        {
                                                            <a target="_blank" href="/modulo-mantenimientos/mantenimientos/mantenimiento?ID_Man2=@Model.Model.det[t].PeriVis" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ir al mantenimiento activo" class="fw-5">@Model.Model.det[t].PeriVis</a>
                                                        }
                                                    </p>
                                                </td>
                                            </tr>
}

}
else
{
                        <tr><td colspan="5"><p class='fw-5 text-danger mb-0'><i class='fa fa-exclamation-circle mr-1'></i> No hay resultados</p></td></tr>

}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="mb-3">
                                @Html.Raw(Model.Model.Paginador)
                            </div>
                                        
                        </div>

                        <div class="col-4" id="sindatos">

                            @* Sin datos *@
                            <div class="card card-table mb-3">
                                <div class="card-header card-header-options">
                                    <span>Información</span>
                                    <div class="card-actions">
                                        <ul>
                                            <li><a href="#" class="handle"><i class="fa fa-bars"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block" role="tablist" aria-multiselectable="true">
                                    <div class="text-center mt-4 mb-4 p-5 bloque-sin-informacion">
                                        <img src="~/flaticons/chat.svg" style="width: 25%;">
                                        <p class="pt-4 fw-5">Si clica encima del nº del mantenimiento, accederá a modificarlo</p>
                                    </div>
                                </div>
                            </div>

                        </div>
    
                    </div>
                              


}
            </div>
        </div>
    </div>
</div>


