@model ModuloMantenimientosLibrary.ModuloMantenimientosMantenimientoDetallesViewModel

@{
    Layout = "~/Views/Shared/Modulo-Mantenimientos/_Modulo-MantenimientoBaja.cshtml";
    ViewData["Title"] = "Mantenimiento";
}

<div class="main-content m-0">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 header-section">
                <h2>@ViewData["Title"]</h2>
                @Html.Raw(ViewData["Migas"])
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                @if (Model.Model.Err.eserror)
                {
                    ViewData["err"] = Model.Model.Err.mensaje;
                    @Html.Partial("AccesoDenegado");
                }
                else
                {

                    @* cabecera mantenimiento *@


                    @Html.Partial("Mantenimiento-Cabecera")

                    @* tabs *@

                    @Html.Partial("Mantenimiento-Tabs-Baja")

                    <div class="row">

                        <div class="col-md-12 col-lg-6 col-sm-12">

                            @* Datos clientes *@

                            <div class="card mb-3">
                                <div class="card-header card-header-options">
                                    <span>Datos clientes</span>
                                </div>
                                <div class="card-block p-0">

                                    <div class="d-flex p-2">
                                        <div class="box-labels w-50 mr-2">
                                            <div class="d-flex align-items-center align-self-stretch">
                                                <label class="m-0 box-label-label align-self-stretch">Cliente</label>
                                                <p class="mb-0 px-2"><a target="_blank" href="/modulo-clientes/clientes/cliente/situacion/mantenimientos?ID_Cli2=@Model.Model.ID_Cli2Fac" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ir a la ficha de client, en mantenimientos" class="fw-5">@Model.Model.Emp</a></p>
                                            </div>
                                        </div>
                                        <div class="box-labels w-50">
                                            <div class="d-flex align-items-center align-self-stretch">
                                                <label class="m-0 box-label-label align-self-stretch">Referencia cliente</label>
                                                <p class="mb-0 px-2">@Model.Model.RefCli</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex box-border-top-light p-2">

                                        <div class="d-flex flex-column w-100">

                                            <div class="d-flex mb-1">

                                                <div class="d-flex w-50 p-0 mr-2">
                                                    <div class="input-group input-group-sm mb-0">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Renovación</span>
                                                        </div>
                                                        <input type="text" class="form-control" id="Fe_Prox_Ant" value="@Model.Model.PeriFac" placeholder="" disabled>
                                                    </div>
                                                </div>

                                                <div class="d-flex w-50 p-0">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <label class="input-group-text" style="min-width: 130px !important;">Mes inicio</label>
                                                        </div>
                                                        <input type="text" class="form-control" value="@Model.Model.Mes" placeholder="" disabled>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="d-flex">

                                                <div class="d-flex mr-2 w-50 p-0">
                                                    <div class="input-group input-group-sm mb-0">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Fecha inicio</span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="@Model.Model.Fe_In" id="Fe_Fi" value="@Model.Model.Fe_In" disabled>
                                                    </div>
                                                </div>

                                                <div class="d-flex w-50 p-0">
                                                    <div class="input-group input-group-sm mb-0">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" style="min-width: 130px !important;">Fecha fin</span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Fecha fin" id="Fe_Fi" value="@Model.Model.Fe_Fi" disabled>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            @* Previsión de visitas *@

                            <div class="card card-table mb-3">
                                <div class="card-header card-header-options">
                                    <span>Previsión de visitas</span>

                                    @if (Model.Model.ID_Soli2 != "")
                                    {
                                        <a href="/tareas-pendientes/tarea-pendiente?ID_Soli2=@Model.Model.ID_Soli2" class="btn btn-primary btn-sm btn-sm-2x" target="_blank">Seguimiento cambios</a>
                                    }
                                </div>
                                <div class="card-block p-0">

                                    <div class="d-flex p-0">
                                        <div class="w-50 p-2">

                                            <div class="input-group input-group-sm mb-1">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text">Modalidad</label>
                                                </div>
                                                <select class="custom-select" id="PeriVis" disabled>
                                                    @if (Model.Model.Peri != null)
                                                    {
                                                        @for (Int32 t = 0; t < Model.Model.Peri.Length; t++)
                                                        {
                                                            @if (Model.Model.Peri[t].id == Model.Model.PeriVis)
                                                            {
                                                                <option selected value="@Model.Model.Peri[t].id">@Model.Model.Peri[t].det</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@Model.Model.Peri[t].id">@Model.Model.Peri[t].det</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>

                                            <div class="input-group input-group-sm mb-0">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">Última visita</span>
                                                </div>
                                                <input type="text" class="form-control" id="Fe_Prox_Ant" value="@Model.Model.Fe_Prox_Ant" placeholder="" disabled>
                                            </div>

                                        </div>
                                        <div class="w-50 pt-2 pb-2 pr-2 pl-1">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            @* Observación *@

                            <div class="card">
                                <div class="card-header card-header-options">
                                    <span>Observación</span>
                                </div>
                                <div class="card-block p-2" role="tablist" aria-multiselectable="true">
                                    <div class="form-group mb-2">
                                        <label for="">Observaciones públicas (Las puede ver el cliente)</label>
                                        <textarea class="form-control" rows="10" placeholder="Observaciones públicas" id="ObsPub">@Model.Model.ObsPub</textarea>
                                    </div>
                                    <div class="form-group mb-0">
                                        <label for="">Observaciones privadas (Las ve solo el técnico)</label>
                                        <textarea class="form-control" rows="10" placeholder="Observaciones privadas" id="ObsPriv">@Model.Model.ObsPriv</textarea>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="col-md-12 col-lg-6 col-sm-12">

                            @* Ubicación *@

                            <div class="card mb-3">
                                <div class="card-header card-header-options">
                                    <span>Ubicación</span>
                                </div>
                                <div class="card-block p-2">

                                    <div class="box-labels mb-2">
                                        <div class="d-flex align-items-center align-self-stretch box-labels-divider">
                                            <label class="m-0 box-label-label align-self-stretch" style="width: 130px;">Empresa <a href="/modulo-clientes/clientes/cliente?ID_Cli2=@Model.Model.ID_Cli2Fac" target="_blank" class="ml-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ir a la ficha de cliente"><i class="fa fa-user-circle-o"></i></a></label>
                                            <p class="mb-0 px-2">@Model.Model.Emp</p>
                                        </div>

                                        <div class="d-flex align-items-center align-self-stretch">
                                            <label class="m-0 box-label-label align-self-stretch" style="width: 130px;">Dirección</label>
                                            <div class="d-flex flex-column">
                                                <p class="mb-0 px-2">@Model.Model.Dir - @Model.Model.Pob  - @Model.Model.CP - @Model.Model.Pro</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex mb-1">
                                        <div class="box-labels mr-2 w-50">
                                            <div class="d-flex align-items-center align-self-stretch">
                                                <label class="m-0 box-label-label align-self-stretch">Latitud</label>
                                                <p class="mb-0 px-2">@Model.Model.Lat</p>
                                            </div>
                                        </div>
                                        <div class="box-labels w-50">
                                            <div class="d-flex align-items-center align-self-stretch">
                                                <label class="m-0 box-label-label align-self-stretch">Longitud</label>
                                                <p class="mb-0 px-2">@Model.Model.Lon</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex mb-1">
                                        <div class="input-group input-group-sm mb-0 p-0 mr-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Horario</span>
                                            </div>
                                            <input type="text" class="form-control form-control-sm" placeholder="Horario" value="@Model.Model.Horario" id="Horario">
                                        </div>
                                        <div class="input-group input-group-sm mb-0 p-0">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Observaciones</span>
                                            </div>
                                            <input type="text" class="form-control form-control-sm" placeholder="Observaciones ubicación" value="@Model.Model.UbiObs" id="UbiObs">
                                        </div>
                                    </div>

                                    <div class="d-flex mb-1">
                                        <div class="input-group input-group-sm mb-0 p-0 mr-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Contacto</span>
                                            </div>
                                            <input type="text" class="form-control form-control-sm" placeholder="Contacto" id="UbiCont" value="@Model.Model.UbiCont">
                                        </div>
                                        <div class="input-group input-group-sm mb-0 p-0">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Teléfono</span>
                                            </div>
                                            <input type="text" class="form-control form-control-sm" placeholder="Teléfono" id="UbiTel" value="@Model.Model.UbiTel">
                                        </div>
                                    </div>

                                </div>
                            </div>

                            @* Google Maps *@

                            <div class="card mb-3">
                                <div class="card-header card-header-options">
                                    <span>Ubicación en el mapa</span>
                                </div>
                                <div class="card-block p-2">
                                    <div id="rutas-map" class="map-inner"></div>
                                    <script>

                                        var geocoder;
                                        var map;
                                        var address = '@Model.Model.Cab.Dir, @Model.Model.Cab.Pob, @Model.Model.Cab.CP, @Model.Model.Cab.Pro';
                                        var lat = '@Model.Model.Lat';
                                        var lng = '@Model.Model.Lon';

                                        function initMap() {
                                            geocoder = new google.maps.Geocoder();
                                            var latlng = new google.maps.LatLng(lat, lng);
                                            var myOptions = {
                                                zoom: 18,
                                                center: latlng,
                                                mapTypeControl: true,
                                                mapTypeControlOptions: {
                                                    style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                                                },
                                                navigationControl: true,
                                                mapTypeId: google.maps.MapTypeId.ROADMAP
                                            };
                                            map = new google.maps.Map(document.getElementById("rutas-map"), myOptions);
                                            if (geocoder) {
                                                geocoder.geocode({
                                                    'address': address
                                                }, function (results, status) {
                                                    if (status === google.maps.GeocoderStatus.OK) {
                                                        if (status !== google.maps.GeocoderStatus.ZERO_RESULTS) {
                                                            map.setCenter(results[0].geometry.location);

                                                            var infowindow = new google.maps.InfoWindow({
                                                                content: '<b>' + '@Model.Model.Cab.Emp' + '</b><br><b>' + address + '</b>',
                                                                size: new google.maps.Size(150, 50)
                                                            });

                                                            var marker = new google.maps.Marker({
                                                                position: results[0].geometry.location,
                                                                map: map,
                                                                title: address
                                                            });
                                                            google.maps.event.addListener(marker, 'click', function () {
                                                                infowindow.open(map, marker);
                                                            });

                                                        } else {
                                                            alert("No se han encontrado resultados. Por favor, actualiza las coordenadas de latitud y longitud.");
                                                        }
                                                    } else {
                                                        alert("Geocode no se ha podido inicializar por la siguiente razón: " + status);
                                                    }
                                                });
                                            }
                                        }
                                    </script>
                                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDp_XTA4o-Cd-BBZIgqGc4EDno6sbgsIaI&callback=initMap"></script>
                                </div>
                            </div>

                            <div class="card card-table mb-3">
                                <div class="card-header card-header-options">
                                    <span>Recuperar mantenimiento</span>
                                </div>
                                <div class="card-block p-0">
                                    @if (Model.Model.ID_ManN2 == "")
                                    {
                                        <div class="d-flex flex-column p-2">
                                            <div class="form-group mb-0">
                                                <textarea class="form-control" rows="3" placeholder="Motivo" id="Motivo"></textarea>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center box-guardar">
                                            <a href="#" target="_blank" class="btn btn-sm btn-primary recuperar-mantenimiento">Recuperar</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex flex-column p-2">
                                            <div class="form-group mb-0">
                                                <p>Mantenimiento recuperado, con nº <a target="_blank" href="/modulo-mantenimientos/mantenimientos/mantenimiento?ID_Man2=@Model.Model.ID_ManN2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ir al mantenimiento activo" class="fw-5">@Model.Model.ID_ManN2</a> </p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>

                    </div>


                }
            </div>
        </div>
    </div>
</div>