@* cabecera cliente *@

<div class="card mb-0">
    <div class="card-header card-header-options">
        <span>Cliente</span>
    </div>
    <div class="card-block p-0">
        <div class="d-flex justify-content-center align-items-center">
            <div class="col-1 pb-2 pt-2">
                <img src="https://image.flaticon.com/icons/svg/431/431985.svg" style="width: 100%">
            </div>
            <div class="col-11 pt-2 pb-2 box-border-left-light">
                <h5 class="fw-5 title-section">
                    @if (Model.Model.Cab.Blo)
                                    {
                        <i class="fa fa-exclamation-triangle mr-1 text-danger" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cliente bloqueado: @Model.Model.Cab.BloWar"></i>
                                    }
                    @if (Model.Model.Cab.Devo)
                                    {
                        <i class="fa fa-eur mr-1 text-danger" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tiene recibos devueltos"></i>
                                    }
                    @Model.Model.Cab.Emp
                    @if (Model.Model.Cab.Emp!=Model.Model.Cab.EmpFis)
                                {
                        <small>(@Model.Model.Cab.EmpFis)</small>
                               }
                </h5>
                <div class="d-flex">
                    <div class="box-grey-bg">
                        <p class="mb-0"><small class="fw-5"><span class="mr-1">Alta:</span> <span class="text-danger">@Model.Model.Cab.Fe_Al - @Model.Model.Cab.Usu</span></small></p>
                        <p class="mb-0"><small class="fw-5"><span class="mr-1">Tipo de cliente:</span> <span class="text-danger">@Model.Model.Cab.Tipo</span></small></p>
                        <p class="mb-0"><small class="fw-5"><span class="mr-1">Nº cliente:</span> <span class="text-danger">@Model.Model.Cab.ID_Cli2</span></small></p>
                        <p class="mb-0"><small class="fw-5"><span class="mr-1">NIF:</span> <span class="text-danger">@Model.Model.Cab.NIF</span></small></p>
                        @if (Model.Model.Cab.ImportCli != "")
                        {
                            <p class="mb-0"><small class="fw-5"><span class="mr-1">Importación:</span> <span class="text-danger">@Model.Model.Cab.ImportCli</span></small></p>
                        }
                        <input type="hidden" value="@Model.Model.Cab.ID_Cli2" id="ID_Cli2" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
