<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gaolos</title>

    @Html.Partial("Estilos")
    @Html.Partial("Scripts")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.4.1/croppie.min.css" integrity="sha256-5O5Zj0L1ZRNS8rjgOduK8G4TGp82VFXBEuGEEShOoUw=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.4.1/croppie.min.js" asp-append-version="true"></script>

</head>
<body>

    <div class="layout__body">

        <aside class="layout__nav layout__columns d-none d-xl-block" id="MenuGaolosComponent">
            @await Component.InvokeAsync(nameof(MenuGaolosLibrary.MenuGaolosComponent))
        </aside>

        <main class="layout__content">
            <header id="MenuUsuarioComponent">
                @await Component.InvokeAsync(nameof(MenuUsuarioLibrary.MenuUsuarioComponent))
            </header>
            @RenderBody()
        </main>

        <aside class="layout__aside layout__columns" id="MenuNotificacionesComponent">
            @await Component.InvokeAsync(nameof(MenuNotificacionesLibrary.MenuNotificacionesComponent))
        </aside>

    </div>

    @* GAOLOS CORE *@
    @Html.Partial("ScriptsCoreGaolos")

    @* Gaolos Section Scripts *@
    <script src="~/js/ModuloMiEmpresa/ModuloMiEmpresa-Usuarios.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)

    <script>
        RefreshCounters();
    </script>

</body>
</html>