@model ModuloFacturacionLibrary.ModuloFacturacionConfiguracionEnvioFacturasViewModel
@{
    Layout = "~/Views/Shared/Modulo-Facturacion/_Facturacion-Configuracion.cshtml";
    ViewData["Title"] = "Envío de facturas";
}

<div class="main-content m-0" id="widget-area">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 header-section">
                <h2>@ViewData["Title"]</h2>
                @Html.Raw(ViewData["Migas"])
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                @if (Model.Model.Err.eserror)
                {
                    ViewData["err"] = Model.Model.Err.mensaje;
                    @Html.Partial("AccesoDenegado");
                }
                else
                {

                    <div class="card mb-3">
                        <div class="card-block card-info-header card-info-header-modulo p-0">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="col-1 pb-2 pt-2 d-flex justify-content-center align-items-center">
                                    <img src="~/flaticons/pie-chart-1.svg" style="width: 64px">
                                </div>
                                <div class="col-11 pt-2 pb-2 box-border-left-light">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="card-info-desc d-flex flex-column py-3">
                                            <h5 class="fw-5 title-section">Envío de facturas</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="card mb-3">

                                <div class="card-header card-header-options">
                                    <span>Abono de facturas</span>
                                </div>

                                <div class="card-block p-0">

                                    <div class="p-2">

                                        <div class="d-flex align-items-center">
                                            @if (Model.Model.EnvFacPorMail)
                                            {
                                                <input type="checkbox" class="mr-2" id="envioFacMail" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="mr-2" id="envioFacMail">
                                            }
                                            <span class="fw-5">Enviar facturas por mail</span>
                                        </div>

                                        <hr class="mb-2 mt-2" />

                                        <div class="input-group input-group-sm mb-0">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="">Mail envío</label>
                                            </div>
                                            <select class="custom-select" id="ID_Mail">
                                                @if (Model.Model.Mails != null)
                                                {
                                                    for (Int32 t = 0; t < Model.Model.Mails.Length; t++)
                                                    {
                                                        if (Model.Model.ID_Mail == Model.Model.Mails[t].id)
                                                        {
                                                            <option selected value="@Model.Model.Mails[t].id">@Model.Model.Mails[t].det</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@Model.Model.Mails[t].id">@Model.Model.Mails[t].det</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <div class="input-group-append input-group-text-auto">
                                                <button type="button" class="btn btn-sm btn-primary config-envio-facturas-probar-mail">Probar</button>
                                            </div>
                                        </div>

                                        <hr class="mb-2 mt-2" />

                                        <div class="d-flex align-items-center">
                                            @if (Model.Model.EnvFacCopia)
                                            {
                                                <input type="checkbox" class="mr-2" id="envioCopiaMail" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="mr-2" id="envioCopiaMail">
                                            }
                                            <span class="fw-5">Enviar copia al mail de envío</span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center box-border-top p-2 mdc-bg-blue-grey-50">
                                        <a href="#" class="btn btn-sm btn-primary guardar-envio-facturas">Guardar</a>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                }

            </div>
        </div>

    </div>

</div>