@model MyGaolosLibrary.MyGaolosMiPerfilViewModel
@{
    Layout = "~/Views/Shared/MyGaolos/_MyGaolos.cshtml";
    ViewData["Title"] = "Mi perfil";
    ViewData["Message"] = "Mi perfil - Gaolos App v2017";
}


<div class="main-content m-0" id="widget-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 header-section">
                <h2>@ViewData["Title"]</h2>
                @Html.Raw(ViewData["Migas"])
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                @if (Model.Model.Err.eserror)
                {
                    ViewData["err"] = Model.Model.Err.mensaje;
                    @Html.Partial("AccesoDenegado");
                }
                else
                {

                    <div class="card mb-3">
                        <div class="card-header card-header-options">
                            <span><i class="fa fa-user-circle-o"></i> Mi perfil</span>

                            <div class="card-actions">
                                <ul>
                                    <li><a href="#" class="handle"><i class="fa fa-bars"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-block p-0">

                            <div class="d-flex justify-content-center align-items-center">
                                <div class="col-1 box-border-right-light pb-2 pt-2">
                                    <img src="~/flaticons/business/038-user-1.svg" style="width: 100%">
                                </div>
                                <div class="col-11">
                                    <h4 class="title-section fw-5">@Model.Model.Nom</h4>
                                    <div class="d-flex mt-1">
                                        <div class="box-grey-bg">
                                            <p class="mb-0"><small class="fw-5"><span class="mr-1">NIC:</span> <span class="text-info">@Model.Model.NIC</span></small></p>
                                            <p class="mb-0"><small class="fw-5"><span class="mr-1">Alta:</span> <span class="text-info">@Model.Model.Fe_Al  @Model.Model.Ho_Al</span></small></p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            @* Cambiar contraseña *@
                            <div class="card mb-3">
                                <div class="card-header card-header-options">
                                    <span>Cambiar contraseña</span>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="">Contraseña anterior</label> *
                                                <input type="password" class="form-control" id="PassA" placeholder="Contraseña actual" maxlength="50" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="">Nueva contraseña</label> *
                                                <input type="password" class="form-control" id="PassN" placeholder="Nueva contraseña" maxlength="50" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="">Repetir contraseña</label> *
                                                <input type="password" class="form-control" id="PassR" placeholder="Repetir nueva contraseña" maxlength="50" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-12 text-center">
                                            <div class="justify-content-center">
                                                <button type="button" class="btn btn-primary mi-perfil-cambiar-clave btn-sm">Cambiar contraseña</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* Cambiar nombre de usuario *@
                            <div class="card">
                                <div class="card-header card-header-options">
                                    <span>Cambiar nombre</span>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="">Nuevo nombre</label> *
                                                <input type="text" class="form-control" id="Nom" placeholder="Nuevo nombre" maxlength="100" value="@Model.Model.Nom" required @{if (!Model.Model.EditNom) { @Html.Raw(" disabled")  } }>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-12 text-center">
                                            <div class="justify-content-center">
                                                @if (Model.Model.EditNom)
                                                {
                                                    <button type="button" class="btn btn-primary mi-perfil-cambiar-nombre btn-sm">Cambiar nombre</button>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-danger btn-sm" disabled>No se puede cambiar nombre</button>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            @if (Model.Model.Negs != null)
                            {

                            @* Negocios a los que tengo acceso *@
                            <div class="card card-table mb-3">
                                <div class="card-header card-header-options">
                                    <span>Negocios a los que tengo acceso como trabajador</span>
                                </div>

                                <div class="card-block" role="tablist" aria-multiselectable="true">
                                    <table class="table table-striped table-select">
                                        <thead>
                                            <tr>
                                                <th class="">Negocio</th>
                                                <th class="text-center">Alta</th>
                                                <th class="text-center">Último acceso</th>
                                                <th class="text-center">Visible</th>
                                                <th class="text-center">Baja</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ for (Int32 t = 0; t < Model.Model.Negs.Length; t++)
                                                {
                                                    <tr>
                                                        <td class="text-azul mb-0 fw-5"><a href="#" class="mi-perfil-sel-negocio fw-5" id="id_@Model.Model.Negs[t].RefNeg">@Model.Model.Negs[t].Neg</a> <span class="fa fa-info-circle mdc-text-blue-grey-300" data-toggle="tooltip" data-placement="top" title="" data-original-title="Si pincha en el nombre de su negocio podrá editar el orden del menú de navegación"></span></td>
                                                        <td class="text-center fw-5"><small class="fw-5">@Model.Model.Negs[t].Fe_Al  @Model.Model.Negs[t].Ho_Al</small></td>
                                                        @if (Model.Model.Negs[t].Fe_Ul_Acc == "")
                                                        {
                                                            <td class="text-center">@Model.Model.Negs[t].Fe_Ul_Acc  @Model.Model.Negs[t].Ho_Ul_Acc (@Model.Model.Negs[t].NumAcc.ToString())</td>
                                                        }
                                                        else
                                                        {
                                                            <td class=""> </td>
                                                        }
                                                        <td class="text-center">
                                                            @{if (Model.Model.Negs[t].LockedMy == "")
                                                                {
                                                                    <i class="fa fa-unlock text-success"></i>
                                                                }
                                                                else
                                                                {
                                                                    <i class="fa fa-lock text-danger"></i>
                                                                }
                                                            }
                                                        </td>
                                                        <td class="text-center">
                                                            @{if (Model.Model.Negs[t].Blo)
                                                                { <i class="fa fa-exclamation-triangle text-danger"></i> } }
                                                        </td>
                                                    </tr>

                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            }

                        </div>
                    </div>

                    <hr />

                    @if (Model.Model.Negs != null)
                        {

                        <div class="card mb-3 box-border-left-blue-2">
                            <div class="card-block py-2 px-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex justify-content-left align-items-center p-0">
                                        <img src="https://image.flaticon.com/icons/svg/639/639367.svg" style="width: 60px;">
                                        <div class="box-white-bg ml-3 p-2">
                                            <h4 id="detalles-menu-neg" class="title-section mb-0"></h4>
                                            <p class="mb-0"><small class="fw-5"><span class="mr-1">Alta:</span> <span class="text-info">13/06/2018</span></small></p>
                                        </div>
                                    </div>
                                    <div class="p-0">
                                        <div class="input-group input-group-sm m-0">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text input-group-text-auto" for="">Negocio</label>
                                            </div>
                                            <select class="custom-select" id="" name="">
                                                @for (Int32 t = 0; t < Model.Model.Negs.Length; t++) {
                                                <option value="id_@Model.Model.Negs[t].RefNeg">@Model.Model.Negs[t].Neg</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                @* Gestionar menús *@

                                <div class="card card-table mb-3" style="display: none; background: rgba(236, 239, 241, 0.8);" id="detalles-menu">
                                    <div class="card-header card-header-options">
                                        <span>Configurar menú principal </span><strong id="detalles-menu-neg"></strong>
                                        <input type="hidden" id="RefNeg" value="" />
                                    </div>

                                    <div class="card-block">

                                        @* html5sortable *@
                                        <div id="ordenarMenu" class="p-3">

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-6">

                                <div class="card card-table mb-3">
                                    <div class="card-header card-header-options">
                                        <span>Configurar filtros </span><strong id="detalles-menu-neg"></strong>
                                        <input type="hidden" id="RefNeg" value="" />
                                    </div>

                                    <div class="card-block">

                                        <div class="d-flex">
                                            <div class="col-6 p-0">

                                                <div class="box-white-bg p-0 m-2">
                                                    <table class="table table-select">
                                                        <thead>
                                                            <tr>
                                                                <th class="" style="border-top: none !important;">Filtros disponibles</th>
                                                                <th class="text-center w-5" style="border-top: none !important;"><i class="fa fa-times"></i></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td><a href="#" class="fw-5">Gestión Web</a></td>
                                                                <td><a href="#" class="fa fa-times"></a></td>
                                                            </tr>
                                                            <tr>
                                                                <td><a href="#" class="fw-5">Gestión Web</a></td>
                                                                <td><a href="#" class="fa fa-times"></a></td>
                                                            </tr>
                                                            <tr>
                                                                <td><a href="#" class="fw-5">Gestión Web</a></td>
                                                                <td><a href="#" class="fa fa-times"></a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                            <div class="col-6 p-0">
                                                <div class="box-white-bg p-0 m-2">
                                                    <table class="table table-select">
                                                        <thead>
                                                            <tr>
                                                                <th class="" style="border-top: none !important;">Módulos incluídos</th>
                                                                <th class="text-center w-5" style="border-top: none !important;"><i class="fa fa-times"></i></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td><a href="#" class="fw-5">Gestión Web</a></td>
                                                                <td><a href="#" class="fa fa-times"></a></td>
                                                            </tr>
                                                            <tr>
                                                                <td><a href="#" class="fw-5">Gestión Web</a></td>
                                                                <td><a href="#" class="fa fa-times"></a></td>
                                                            </tr>
                                                            <tr>
                                                                <td><a href="#" class="fw-5">Gestión Web</a></td>
                                                                <td><a href="#" class="fa fa-times"></a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="box-white-bg p-0 m-2">
                                                    <table class="table table-select">
                                                        <thead>
                                                            <tr>
                                                                <th class="" style="border-top: none !important;">Módulos disponibles</th>
                                                                <th class="text-center w-5" style="border-top: none !important;"><input type="checkbox" data-toggle="tooltip" data-placement="top" title="" class="" id="" checked="" data-original-title="Incluir todos los módulos"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td><a href="#" class="fw-5">Gestión Web</a></td>
                                                                <td><input type="checkbox" data-toggle="tooltip" data-placement="top" title="" class="" id="" checked="" data-original-title="Incluir módulo"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><a href="#" class="fw-5">Gestión Web</a></td>
                                                                <td><input type="checkbox" data-toggle="tooltip" data-placement="top" title="" class="" id="" checked="" data-original-title="Incluir módulo"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><a href="#" class="fw-5">Gestión Web</a></td>
                                                                <td><input type="checkbox" data-toggle="tooltip" data-placement="top" title="" class="" id="" checked="" data-original-title="Incluir módulo"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="d-flex justify-content-center box-border-top col-12 p-2 mdc-bg-blue-grey-50">
                                                        <button type="submit" class="btn btn-sm btn-primary">Añadir filtro</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                        }

                }

            </div>
        </div>
    </div>
</div>