@model ModuloAsistenciasLibrary.ModuloAsisnteicasPartesListadoViewModel

@{
    Layout = "~/Views/Shared/Modulo-Asistencias/_Modulo-Asistencias.cshtml";
    ViewData["Title"] = "Listado de partes de asistencias por cerrar";
    ViewData["Message"] = "Modulo de Asistencias - Gaolos App v2018";
}

<div class="main-content m-0">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 header-section">
                <h2>@ViewData["Title"]</h2>
                @Html.Raw(ViewData["Migas"])
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                @if (Model.Model.Err.eserror)
    {
        ViewData["err"] = Model.Model.Err.mensaje;
                @Html.Partial("AccesoDenegado");
}
else
{

                @* Buscar usuarios *@

                <div class="card mb-3">
                    <div class="card-header card-header-options">
                        <span>Datos asistencia</span>

                        <div class="card-actions">
                            <ul>
                                <li><a href="#" class="handle"><i class="fa fa-bars"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block p-0">

                        <form action="@ViewData["Form"]" method="post">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="col-1 text-center box-border-right-light py-2">
                                    <img src="https://image.flaticon.com/icons/svg/321/321863.svg" style="width: 100%;">
                                </div>
                                <div class="col-11">

                                    <div class="row p-0">
                                        <div class="col-8 p-0">
                                            <div class="d-flex flex-column mb-0 ml-3">

                                                <div class="d-flex mb-2">
                                                    <div class="input-group input-group-sm mr-2 col-4 p-0">
                                                        <div class="input-group-prepend">
                                                            <label class="input-group-text" for="">Nº Asistencia</label>
                                                        </div>
                                                        <input type="text" class="form-control" id="" aria-describedby="" value="" placeholder="Nº Asistencia">
                                                    </div>
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <label class="input-group-text" for="">Cliente</label>
                                                        </div>
                                                        <input type="text" class="form-control" id="" aria-describedby="" value="" placeholder="Cliente">
                                                    </div>

                                                </div>
                                                <div class="d-flex">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <label class="input-group-text" for="">Solicitud</label>
                                                        </div>
                                                        <input type="text" class="form-control" id="" aria-describedby="" value="" placeholder="Solicitud">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="d-flex flex-column">
                                                <div class="d-flex mb-1">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text text-left">Observaciones cliente<br />solicitud</span>
                                                        </div>
                                                        <textarea class="form-control" aria-label="" placeholder="Obsservaciones" id=""></textarea>
                                                    </div>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text text-left">Observaciones empresa<br /> relacionada solicitud</span>
                                                        </div>
                                                        <textarea class="form-control" aria-label="" placeholder="Observaciones" id=""></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="d-flex justify-content-center box-border-top mdc-bg-blue-grey-50 pt-2 pb-2">
                                <button type="submit" class="btn btn-sm btn-primary">Buscar</button>
                            </div>
                        </form>

                    </div>
                </div>

                @* Listado *@

                <div class="row">

                    <div class="col-8">
                        @* Listado *@
                        <div class="card card-table mb-3">
                            <div class="card-header card-header-options">
                                <span>@ViewData["Title"]</span>
                            </div>
                            <div class="card-block">

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Nº Parte</th>
                                            <th class="text-left w-10">Técnico</th>
                                            <th class="text-center">Código</th>
                                            <th class="text-left w-30">Exposición</th>
                                            <th class="text-center">Cantidad</th>
                                            <th class="text-right w-5">Precio</th>
                                            <th class="text-right">Total</th>
                                            <th class="text-center">Nº Fac.</th>
                                            <th class="text-left">Rev.</th>
                                            <th class="text-left">Sel.</th>
                                            <th class="text-left">Procesado</th>
                                            <th class="text-left">Editar</th>
                                        </tr>
                                    </thead>
                                    <tbody id="content">
                                        @for(var i = 0; i<5; i++)
                                        {
                                        <tr>
                                            <td class="text-center">
                                                2780
                                            </td>
                                            <td class="text-left">
                                                <p class="fw-5 mb-0">Sergio Zurita</p>
                                            </td>
                                            <td class="text-center">
                                                2780102
                                            </td>
                                            <td class="text-left">
                                                Retimbrado/Prueba hidráulica exterior POLVO ABC 6KG
                                            </td>
                                            <td class="text-center">
                                                2,00
                                            </td>
                                            <td class="text-right">
                                                24,75€
                                            </td>
                                            <td class="text-right">
                                                49,50€
                                            </td>
                                            <td class="text-center">
                                                <input type="checkbox" name="" id="" class="" />
                                            </td>
                                            <td class="text-center">
                                                
                                            </td>
                                            <td class="text-center">
                                                <input type="checkbox" name="" id="" class="" />
                                            </td>
                                            <td class="text-center">
                                                
                                            </td>
                                            <td class="text-center">
                                                <a href="#" class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar parte"></a>
                                            </td>


                                        </tr>
                                        }
                                        
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div class="mb-3">
                            @Html.Raw(Model.Model.Paginador)
                        </div>

                    </div>

                    <div class="col-4">

                        @* Sin datos *@
                        <div class="card card-table mb-3" id="sindatos">
                            <div class="card-header card-header-options">
                                <span>Información</span>
                                <div class="card-actions">
                                    <ul>
                                        <li><a href="#" class="handle"><i class="fa fa-bars"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block" role="tablist" aria-multiselectable="true">
                                <div class="text-center mt-2 mb-2 p-3 bloque-sin-informacion">
                                    <img src="~/flaticons/chat.svg" style="width: 25%;">
                                    <p class="pt-3 fw-5">Sin acción</p>
                                </div>
                            </div>
                        </div>

                        <div class="card card-table mb-3">
                            <div class="card-header card-header-options">
                                <span>Datos introducidos</span>
                                <div class="card-actions">
                                    <ul>
                                        <li><a href="#" class="handle"><i class="fa fa-bars"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block" role="tablist" aria-multiselectable="true">
                                <div class="d-flex flex-column">

                                    <div class="d-flex align-items-center box-border-bottom">
                                        <label class="col-3 text-left p-0 m-0 box-border-right py-1 px-3 mdc-bg-blue-grey-50">Servicio:</label>
                                        <p class="mb-0 px-3" id="">Prueba hidrostatica MANGUERA BIE</p>
                                    </div>

                                    <div class="d-flex align-items-center box-border-bottom">
                                        <label class="col-3 text-left p-0 m-0 box-border-right py-1 px-3 mdc-bg-blue-grey-50">Código:</label>
                                        <p class="mb-0 px-3" id="">201205</p>
                                    </div>

                                    <div class="d-flex align-items-center box-border-bottom">
                                        <label class="col-3 text-left p-0 m-0 box-border-right py-1 px-3 mdc-bg-blue-grey-50">Exposición:</label>
                                        <p class="mb-0 px-3" id="">Prueba hidrostatica MANGUERA BIE</p>
                                    </div>

                                    <div class="d-flex align-items-center box-border-bottom">
                                        <label class="col-3 text-left p-0 m-0 box-border-right py-1 px-3 mdc-bg-blue-grey-50">Cantidad:</label>
                                        <p class="mb-0 px-3" id="">2,00</p>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <label class="col-3 text-left p-0 m-0 box-border-right py-1 px-3 mdc-bg-blue-grey-50">Precio unidad:</label>
                                        <p class="col-3 mb-0 px-3" id="">0,00</p>
                                        <label class="col-3 text-left p-0 m-0 box-border-right box-border-left py-1 px-3 mdc-bg-blue-grey-50">Precio unidad:</label>
                                        <p class="col-3 mb-0 px-3" id="">0,00</p>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="card card-table mb-3">
                            <div class="card-header card-header-options">
                                <span>Datos a facturar</span>
                                <div class="card-actions">
                                    <ul>
                                        <li><a href="#" class="handle"><i class="fa fa-bars"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block" role="tablist" aria-multiselectable="true">
                                <div class="p-2">
                                    <div class="input-group input-group-sm mb-1">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="">Servicio</label>
                                        </div>
                                        <input type="text" class="form-control" id="" aria-describedby="" value="" placeholder="Servicio">
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="">Código</label>
                                        </div>
                                        <input type="text" class="form-control" id="" aria-describedby="" value="" placeholder="Código">
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Concepto</span>
                                        </div>
                                        <textarea class="form-control" aria-label="" placeholder="Concepto" id=""></textarea>
                                    </div>
                                    <div class="d-flex">
                                        <div class="input-group input-group-sm mb-1 mr-1">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="">Cantidad</label>
                                            </div>
                                            <input type="text" class="form-control" id="" aria-describedby="" value="" placeholder="Cantidad">
                                        </div>
                                        <div class="input-group input-group-sm mb-1">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="">Descuento (%)</label>
                                            </div>
                                            <input type="text" class="form-control" id="" aria-describedby="" value="" placeholder="Descuento (%)">
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="input-group input-group-sm mb-1 mr-1">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="">Precio/u</label>
                                            </div>
                                            <input type="text" class="form-control" id="" aria-describedby="" value="" placeholder="Precio/u">
                                        </div>
                                        <div class="input-group input-group-sm mb-1">
                                            <div class="input-group-prepend">
                                                <label class="input-group-text" for="">Total</label>
                                            </div>
                                            <input type="text" class="form-control" id="" aria-describedby="" value="" placeholder="Total">
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center box-border-top p-2 mdc-bg-blue-grey-50">
                                    <a href="#" class="btn btn-sm btn-primary">Guardar</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

}

            </div>
        </div>
    </div>
</div>