@model ModuloAsistenciasLibrary.ModuloAsisnteicasAsistenciasPorFacturarListadoViewModel

@{
    Layout = "~/Views/Shared/Modulo-Asistencias/_Modulo-Asistencias-Facturar.cshtml";
    ViewData["Title"] = "Listado de asistencias por facturar";
}

<div class="main-content m-0">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 header-section">
                <h2>@ViewData["Title"]</h2>
                @Html.Raw(ViewData["Migas"])
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                @if (Model.Model.Err.eserror)
    {
        ViewData["err"] = Model.Model.Err.mensaje;
            @Html.Partial("AccesoDenegado");
}
else
{

            @* Buscar usuarios *@

            <div class="card mb-3">
                <div class="card-header card-header-options">
                    <span>Buscar asistencias</span>

                    <div class="card-actions">
                        <ul>
                            <li><a href="#" class="handle"><i class="fa fa-bars"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-block p-0">

                    <form action="@ViewData["Form"]" method="post">
                        <div class="d-flex justify-content-center align-items-center">
                            
                            <div class="col-1  pb-2 pt-2">
                                <img src="https://image.flaticon.com/icons/svg/321/321863.svg" style="width: 100%;">
                            </div>
                            
                            <div class="col-11 box-border-left-light">


                                <div class="d-flex py-3">

                                    <div class="input-group input-group-sm mb-0 mr-2">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Buscar</span>
                                        </div>
                                        <input type="text" class="form-control form-control-sm" placeholder="Buscar por nombre, dirección, población y nº asistencia" id="buscar" name="buscar" value="@ViewData["buscar"]">
                                    </div>

                                    <div class="input-group input-group-sm mb-0 ml-2">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="ID_Tipo2">Tipos</label>
                                        </div>
                                        <select class="custom-select" id="ID_Tipo2" name="ID_Tipo2">
                                            @if (Model.Model.Tipos != null)
                                            {
                                                for (Int32 t = 0; t < Model.Model.Tipos.Length; t++)
                                                {
                                                    if (Model.Model.Tipos[t].id == Convert.ToInt32(ViewData["ID_Tipo2"]))
                                                    {
                                                        <option value="@Model.Model.Tipos[t].id" selected>@Model.Model.Tipos[t].det</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@Model.Model.Tipos[t].id">@Model.Model.Tipos[t].det</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>

                                </div>

                                <div class="d-flex">
                                    <div class="p-0">
                                        <label class="custom-control custom-checkbox">
                                            @{
                                                string txt = "";
                                                if (Convert.ToBoolean(ViewData["Man"]))
                                                {
                                                    txt = " checked ";
                                                }
                                            }
                                            <input type="checkbox" class="custom-control-input" @Html.Raw(txt) id="Man" name="Man">
                                            <span class="custom-control-label p-0">Mantenimiento</span>
                                        </label>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="d-flex justify-content-center box-border-top col-12 p-2 mdc-bg-blue-grey-50">
                                        <button type="submit" class="btn btn-sm btn-primary">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="row">

                <div class="col-8">
                    @* Listado *@
                    <div class="card card-table mb-3">
                        <div class="card-header card-header-options">
                            <span>@ViewData["Title"]</span>
                        </div>
                        <div class="card-block">

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center w-5">Nº Asis.</th>
                                        <th class="text-center w-5">Fecha</th>
                                        <th class="text-left">Realizado</th>
                                        <th class="text-center w-2"><i class="fa fa-print"></i></th>
                                        <th class="text-left">Empresa</th>
                                        <th class="text-left">Población</th>
                                        <th class="text-left">Categoría</th>
                                        <th class="text-left">Man.</th>
                                        <th class="text-center w-5">Nº Parte</th>
                                    </tr>
                                </thead>
                                <tbody id="content">


                                    @if (Model.Model.det != null)
                    {
                        @for (Int32 t = 0; t < Model.Model.det.Length; t++)
        {
                                    <tr>
                                        <td class="text-left">
                                            <a href="/modulo-asistencias/asistencias-por-facturar/facturar?ID_Asis2=@Model.Model.det[t].ID_Asis2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver detalles de la asistencia" class="fw-5">@Model.Model.det[t].ID_Asis2</a>
                                        </td>
                                        <td class="text-center">
                                            <p><small>@Model.Model.det[t].Fe_Al</small></p>
                                        </td>
                                        <td class="text-left">
                                            <p><small>@Model.Model.det[t].UsuRea</small></p>
                                        </td>
                                        <td class="w-2 text-center">
                                            <a href="/modulo-asistencias/asistencias-por-asignar/imprimir?ID_Asis2=@Model.Model.det[t].ID_Asis2" target="_blank"><i class="fa fa-print" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="Imprimir"></i></a>
                                        </td>
                                        <td class="text-left">
                                            <p class="mb-0">@Model.Model.det[t].Emp (<a href="modulo-clientes/clientes/cliente/situacion/asistencias?ID_Cli2=@Model.Model.det[t].ID_Cli2" class="fw-5" target="_blank">@Model.Model.det[t].ID_Cli2</a>)</p>
                                        </td>
                                        <td>
                                            <p class="mb-0">
                                                @Model.Model.det[t].Pob
                                            </p>
                                        </td>
                                        <td>
                                            <p class="mb-0">@Model.Model.det[t].Cat</p>
                                        </td>
                                        <td class="text-center">
                                            @if (Model.Model.det[t].Man)
                                            {
                                                <i class="fa fa-check text-success"></i>
                                            }
                                        </td>
                                        <td class="text-center">
                                            <p><a href="" class="fw-5">@Model.Model.det[t].ID_Parte2</a></p>
                                        </td>
                                    </tr>
}
    }
    else
    {
                <tr><td colspan="8"><p class='fw-5 text-danger mb-0'><i class='fa fa-exclamation-circle mr-1'></i> No hay resultados</p></td></tr>
}
                                </tbody>
                            </table>

                        </div>
                    </div>

                    <div class="mb-3">
                        @Html.Raw(Model.Model.Paginador)
                    </div>

                </div>

                <div class="col-4" id="sindatos">

                    @* Sin datos *@

                    <div class="card-info-wrapper w-100 animated fadeIn" id="sindatos" style="">
                        <div class="card-info">
                            <div class="d-flex justify-content-center align-items-center">

                                <div class="d-flex flex-column">
                                    <p class="pb-2 animated fadeIn"><img src="https://image.flaticon.com/icons/svg/609/609998.svg" style="width: 20%;" class="animated fadeIn"></p>
                                    <p class="pb-2 animated fadeIn">En esta pantalla podrá visualizar el listado de asistencias por facturar</p>
                                </div>
                            </div>
                        </div>
                        <svg class="card-info-triangle">
                            <polygon points="0,0 200,0 0,200" fill="currentColor"></polygon>
                        </svg>
                    </div>

                </div>

            </div>

}

            </div>
        </div>
    </div>
</div>