@model ModuloTransporteLibrary.ModuloTransporteTransporteTarifasListadoViewModel

@{
    Layout = "~/Views/Shared/Modulo-Transporte/_Modulo-Transporte.cshtml";
    ViewData["Title"] = "Listado de tarifas";
}

<div class="main-content m-0">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 header-section">
                <h2>@ViewData["Title"]</h2>
                @Html.Raw(ViewData["Migas"])
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                @if (Model.Model.Err.eserror)
                {
                    ViewData["err"] = Model.Model.Err.mensaje;
                    @Html.Partial("AccesoDenegado");
                }
                else
                {

                    @* Buscar usuarios *@

                    <div class="card mb-3">
                        <div class="card-header card-header-options">
                            <span>Buscar tipo de envío</span>

                            <div class="card-actions">
                                <ul>
                                    <li><a href="#" class="handle"><i class="fa fa-bars"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-block p-0">

                            <form action="@ViewData["Form"]" method="post">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="col-1  pb-2 pt-2">
                                        <img src="https://image.flaticon.com/icons/svg/321/321863.svg" style="width: 100%;">
                                    </div>
                                    <div class="col-11 box-border-left-light">

                                        <div class="row p-0">
                                            <div class="col-12 box-border-right p-0">
                                                <div class="d-flex mb-0 px-3 pt-3 mb-2">
                                                    <div class="form-group mb-0 mr-2 col-12 p-0">
                                                        <label>Buscar</label>
                                                        <input type="text" class="form-control" placeholder="Buscar" name="buscar" value="@ViewData["buscar"]">
                                                    </div>
                                                </div>
                                                <div class="d-flex mt-3 px-3">

                                                    @*<div class="d-flex justify-content-center align-items-center mr-3">
                                                <label class="mb-0">Sin precio</label>
                                                <input name="SinPrecio" type="checkbox" class="ml-1" @{ if (ViewData["SinPrecio"].ToString() != "") { @Html.Raw(" checked ")  } }>
                                            </div>

                                            <div class="d-flex justify-content-center align-items-center mr-3">
                                                <label class="mb-0">Sin precio mínimo</label>
                                                <input name="SinPrecioMin" type="checkbox" class="ml-1" @{ if (ViewData["SinPrecioMin"].ToString() != "") { @Html.Raw(" checked ")  } }>
                                            </div>

                                            <div class="d-flex justify-content-center align-items-center mr-3">
                                                <label class="mb-0">Sin categoría</label>
                                                <input name="SinCat" type="checkbox" class="ml-1" @{ if (ViewData["SinCat"].ToString() != "") { @Html.Raw(" checked ")  } }>
                                            </div>

                                            <div class="d-flex justify-content-center align-items-center mr-3">
                                                <label class="mb-0">Sin código</label>
                                                <input name="SinCod" type="checkbox" class="ml-1" @{ if (ViewData["SinCod"].ToString() != "") { @Html.Raw(" checked ")  } }>
                                            </div>

                                            <div class="d-flex justify-content-center align-items-center">
                                                <label class="mb-0">Sin impuestos</label>
                                                <input name="SinImpu" type="checkbox" class="ml-1" @{ if (ViewData["SinImpu"].ToString() != "") { @Html.Raw(" checked ")  } }>
                                            </div>*@

                                                </div>
                                                <div class="d-flex justify-content-center mt-2 box-border-top mdc-bg-blue-grey-50 pt-2 pb-2">
                                                    <button type="submit" class="btn btn-sm btn-primary">Buscar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>


                    <div class="row">

                        <div class="col-7">
                            @* Listado de servicios *@
                            <div class="card card-table mb-3">
                                <div class="card-header card-header-options">
                                    <span>@ViewData["Title"]</span>
                                    <div class="d-flex">
                                        <a href="#" class="btn btn-sm btn-primary nueva-tarifa"><i class="fa fa-cogs mr-1" style="font-size: 14px !important;"></i> Nueva tarifa</a>
                                    </div>
                                </div>
                                <div class="card-block">

                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="w-25">Transporte</th>
                                                <th class="w-25">Tarifa</th>
                                                <th class="">Observaciones</th>
                                                <th class="w-10 text-center">Nº</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Model.det != null)
                                            {
                                                @for (Int32 t = 0; t < Model.Model.det.Length; t++)
                                                {
                                                    <tr>
                                                        <td class="">
                                                            <p class="fw-5 mb-0"><a href="#" id="tar_@Model.Model.det[t].ID_Tar" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver detalles tarifa" class="fw-5 ver-precios">@Model.Model.det[t].Trans</a></p>
                                                        </td>
                                                        <td class="">
                                                            <p class="fw-5 mb-0">@Model.Model.det[t].Tarifa</p>
                                                        </td>
                                                        <td class="">
                                                            <p class="fw-5 mb-0">@Model.Model.det[t].Obs</p>
                                                        </td>
                                                        <td class="text-center">
                                                            <p class="fw-5 mb-0">@Model.Model.det[t].Num</p>
                                                        </td>
                                                    </tr>
                                                }

                                            }
                                            else
                                            {
                                                <tr><td colspan="3"><p class='fw-5 text-danger mb-0'><i class='fa fa-exclamation-circle mr-1'></i> No hay resultados</p></td></tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="mb-3">
                                @Html.Raw(Model.Model.Paginador)
                            </div>

                        </div>

                        <div class="col-5">

                            @* Sin datos *@
                            <div class="card card-table mb-3" id="sindatos">
                                <div class="card-header card-header-options">
                                    <span>Información</span>
                                    <div class="card-actions">
                                        <ul>
                                            <li><a href="#" class="handle"><i class="fa fa-bars"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block" role="tablist" aria-multiselectable="true">
                                    <div class="text-center mt-4 mb-4 p-5 bloque-sin-informacion">
                                        <img src="~/flaticons/chat.svg" style="width: 25%;">
                                        <p class="pt-4 fw-5">Si clica encima de la tarifa, accederá a modificarla</p>
                                    </div>
                                </div>
                            </div>


                            <div class="card mb-3" style="display: none;" id="verTarifa">
                                <div class="card-header card-header-options">
                                    <span id="tit">Tarifa</span>
                                    <input type="hidden" id="ID_Tarifa" value="0" />
                                </div>

                                <div class="card-block p-2">

                                    <div class="box-labels mb-1">
                                        <div class="d-flex align-items-center align-self-stretch box-labels-divider">
                                            <label class="m-0 box-label-label align-self-stretch">Alta</label>
                                            <p class="mb-0 px-2" id="Alta"></p>
                                        </div>
                                    </div>

                                    <div class="d-flex mb-1">
                                        <div class="input-group input-group-sm mb-0 p-0">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Tarifa</span>
                                            </div>
                                            <input type="text" class="form-control form-control-sm" placeholder="Tarifa" value="" id="Tarifa">
                                        </div>
                                    </div>

                                    <div class="d-flex mb-1">
                                        <div class="input-group input-group-sm mb-0 p-0">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Trasportista</span>
                                            </div>
                                            <input type="text" class="form-control form-control-sm" placeholder="Trasportista" value="" id="buscarTrans" name="trans">
                                            <input type="hidden" id="tbuscarTrans" name="tbuscarTrans" value="" />
                                            <input type="hidden" id="vbuscarTrans" name="vbuscarTrans" value="0" />
                                        </div>
                                    </div>

                                    <div class="d-flex mb-1">
                                        <div class="input-group input-group-sm mb-0 p-0">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Observaciones</span>
                                            </div>
                                            <textarea class="form-control form-control-sm" rows="4" placeholder="Observaciones" value="" id="Obs"></textarea>
                                        </div>
                                    </div>

                                    @*<div class="d-flex mb-1">
                                <div class="box-labels mr-2 w-50">
                                    <div class="d-flex align-items-center align-self-stretch">
                                        <div class="input-group input-group-sm mb-0 p-0">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Hora recogida</span>
                                            </div>
                                            <input type="text" class="form-control form-control-sm" placeholder="Hora recogida" value="" id="HoraCorte">
                                        </div>
                                    </div>
                                </div>
                                <div class="box-labels w-50">
                                    <div class="d-flex align-items-center align-self-stretch">
                                        <div class="input-group input-group-sm mb-0 p-0">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Importe gratis</span>
                                            </div>
                                            <input type="text" class="form-control form-control-sm" placeholder="Importe gratis" value="" id="ImpGratis">
                                        </div>
                                    </div>
                                </div>
                            </div>*@

                                </div>
                                <div class="d-flex justify-content-center box-border-top p-2 mdc-bg-blue-grey-50">
                                    <button type="button" class="btn btn-sm btn-primary guardar-tarifa" id="btnsave">Guardar</button>
                                </div>
                            </div>


                            @* Precios *@

                            <div class="card card-table mb-3" style="display: none;" id="verPrecios">
                                <div class="card-header card-header-options">
                                    <span>Listado de precios</span>
                                    <div class="d-flex">
                                        <a href="#" class="btn btn-sm btn-primary verNuevoPrecio"><i class="fa fa-cogs mr-1" style="font-size: 14px !important;"></i> Nuevo precio</a>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="w-15 text-center">De (Kg)</th>
                                                <th class="w-15 text-center">A (Kg)</th>
                                                <th class="w-5 text-center"><i class="fa fa-times"></i></th>
                                                <th class="text-center">Coste</th>
                                                <th class="text-center">Precio</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="actualizarPrecios"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="precios-paginador" class="mb-3" style="display:none;"></div>

                            @*Fin precios*@

                            <div class="card card-table mb-3" id="verEliminar" style="display:none;">
                                <div class="card-header card-header-options">
                                    <span>Eliminar tarifa</span>
                                </div>
                                <div class="card-block p-0">
                                    <div class="d-flex flex-column p-2">
                                        <div class="form-group mb-0">
                                            <p class="text-danger">Eliminar una tarifa supone eliminar todos los precios de la misma.</p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center box-guardar">
                                        <a href="#" target="_blank" class="btn btn-sm btn-danger eliminar-tarifa">Eliminar</a>
                                    </div>

                                </div>
                            </div>




                        </div>

                    </div>

                    <div id="modalNuevoPrecio" tabindex="-1" role="dialog" aria-labelledby="" class="modal fade show" style="display: none;">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="fs-1 mb-0">Nuevo precio</h4>
                                    <a href="#" data-dismiss="modal" aria-label="Cerrar"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="modal-body p-0">

                                    <div class="d-flex p-2">
                                        <div class="d-flex flex-column w-50 mr-2">
                                            <div class="input-group input-group-sm mb-1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text mw-90">De</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="De" id="DeKg" value="">
                                                <div class="input-group-append">
                                                    <span class="input-group-text mw-35" style="min-width: 42px !important;">Kg</span>
                                                </div>
                                            </div>
                                            <div class="input-group input-group-sm mb-1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text mw-90">Coste</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Coste" id="Coste" value="">
                                                <div class="input-group-append">
                                                    <span class="input-group-text mw-35" style="min-width: 42px !important;">€</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column w-50">
                                            <div class="input-group input-group-sm mb-1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text mw-90">A</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="A" id="AKg" value="">
                                                <div class="input-group-append">
                                                    <span class="input-group-text mw-35" style="min-width: 42px !important;">Kg</span>
                                                </div>
                                            </div>
                                            <div class="input-group input-group-sm mb-1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text mw-90">Precio</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Precio" id="Precio" value="">
                                                <div class="input-group-append">
                                                    <span class="input-group-text mw-35" style="min-width: 42px !important;">€</span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="d-flex justify-content-center box-guardar">
                                        <a href="#" target="_blank" class="btn btn-sm btn-primary tarifa-nuevo-precio">Nuevo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


