@model ModuloPresupuestosLibrary.ModuloPresupuestosPresupuestosPresupuestoViewModel
@{
    Layout = "~/Views/Shared/Modulo-Presupuestos/_Modulo-Presupuestos-Presupuesto.cshtml";
    ViewData["Title"] = "Presupuesto";
}

<div class="main-content m-0">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 header-section">
                <h2>@ViewData["Title"]</h2>
                @Html.Raw(ViewData["Migas"])
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                @if (Model.Model.Err.eserror)
                {
                    ViewData["err"] = Model.Model.Err.mensaje;
                    @Html.Partial("AccesoDenegado");
                }
                else
                {

                    @* tabs *@

                    <div class="card mb-3">
                        <div class="card-header card-header-options">
                            <span>Presupuesto nº @Model.Model.ID_Pres2</span>
                            <div class="d-flex">

                                @if (Model.Model.Fe_Cerr == "")
                                {
                                    <div class="d-flex mr-2" style="border-right: 1px solid #B0BEC5;">
                                        @if (Model.Model.EsBorrador)
                                        {
                                            <a href="#" class="btn btn-sm btn-primary mr-2 quitar-borrador"><i class="fa fa-file-o mr-1" style="font-size: 14px !important;"></i> Quitar de borrador</a>
                                        }
                                        else
                                        {
                                            <a href="#" class="btn btn-sm btn-primary mr-2 marcar-borrador"><i class="fa fa-file-o mr-1" style="font-size: 14px !important;"></i> Enviar a borrador</a>
                                        }
                                    </div>
                                }

                                <div class="d-flex mr-2" style="border-right: 1px solid #B0BEC5;">
                                    @if (Model.Model.Fe_Cerr == "")
                                    {
                                        <a href="#" class="btn btn-sm btn-primary mr-1 forma-pago"><i class="fa fa-eur mr-1" style="font-size: 14px !important;"></i> Forma de pago</a>
                                        <a href="#" class="btn btn-sm btn-primary mr-1 cambiar-cliente"><i class="fa fa-user-times mr-1" style="font-size: 14px !important;"></i> Cambiar cliente</a>
                                    }
                                    <a href="#" class="btn btn-sm btn-primary mr-2 presupuesto-duplicar"><i class="fa fa-clone mr-1" style="font-size: 14px !important;"></i> Duplicar</a>
                                </div>
                                @if (Model.Model.Fe_Cerr == "")
                                {
                                    <div class="d-flex">
                                        <a href="#" class="btn btn-sm btn-primary mr-1 ver-aceptar-pres"><i class="fa fa-check mr-1" style="font-size: 14px !important;"></i> Aceptar presupuesto</a>
                                        <a href="#" class="btn btn-sm btn-primary mr-1 ver-rechazar-pres"><i class="fa fa-times mr-1" style="font-size: 14px !important;"></i> Rechazar presupuesto</a>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="card-block p-0">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="col-1 pb-2 pt-2">
                                    <img src="https://image.flaticon.com/icons/svg/138/138360.svg" style="width: 100%">
                                </div>
                                <div class="col-11 pt-2 pb-2 box-border-left-light">

                                    <div class="d-flex justify-content-between align-items-center">

                                        <h5 class="fw-5 title-section mb-0">
                                            @if (Model.Model.ID_Cont2 != "")
                                            {
                                                <i class="fa fa-hand-o-right text-danger" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="Es un contacto"></i>
                                            }
                                            @Model.Model.Emp

                                        </h5>

                                        <div class="d-flex">

                                            @if (Model.Model.EsBorrador && Model.Model.Fe_Cerr == "")
                                            {
                                                <div class="box-labels d-flex justify-content-center mdc-bg-pink-A400" style="border: 1px solid #f50057 !important; border-radius: 3px !important;">
                                                    <div class="d-flex align-items-center">
                                                        <p class="mb-0 px-2 fs-1 text-white">Borrador</p>
                                                    </div>
                                                </div>
                                            }


                                            @if (Model.Model.Fe_Cerr != "")
                                            {
                                                <div class="box-labels d-flex justify-content-center mdc-bg-pink-A400" style="border: 1px solid #f50057 !important; border-radius: 3px !important;">
                                                    <div class="d-flex align-items-center">
                                                        <p class="mb-0 px-2 fs-1 text-white"><i class="fa fa-exclamation-triangle mr-1 text-white"></i> Presupuesto cerrado</p>
                                                    </div>
                                                </div>
                                            }

                                            <div class="box-grey-bg mdc-bg-white ml-2 py-0 px-2">
                                                <div class="d-flex align-items-center justify-content-center align-items-center">
                                                    <div class="d-flex align-items-center"><p class="mb-0 fw-5 fs-0-8"><i class="fa fa-send-o mdc-text-blue-500 mr-1"></i> Nº de veces enviado:</p></div>
                                                    <a href="#" class="fw-5 pl-2 fs-1-4 ver-his-env">@Model.Model.NumEnv</a>
                                                </div>
                                            </div>

                                        </div>


                                    </div>

                                    <hr class="mb-2 mt-2" />
                                    <div class="d-flex justify-content-between">

                                        <div class="d-flex">
                                            <div class="box-grey-bg mr-2 mdc-bg-white">
                                                @if (Model.Model.ID_Cli2 != "")
                                                {
                                                    <p class="mb-1 fs-0-8 fw-5"><span class="mr-1">Nº cliente:</span> <a href="/modulo-clientes/clientes/cliente?ID_Cli2=@Model.Model.ID_Cli2" class="fw-5" target="_blank">@Model.Model.ID_Cli2</a></p>

                                                }
                                                else
                                                {
                                                    <p class="mb-1 fs-0-8 fw-5"><span class="mr-1">Nº contacto:</span> @Model.Model.ID_Cont2</p>
                                                }
                                                <p class="mb-1 fs-0-8 fw-5"><span class="mr-1">Fecha:</span> <span class="text-danger">@Model.Model.Fe_Al</span></p>
                                                <p class="mb-1 fs-0-8 fw-5"><span class="mr-1">Alta:</span> <span class="text-danger">@Model.Model.UsuAl</span></p>
                                                <p class="mb-1 fs-0-8 fw-5"><span class="mr-1">Asistencia:</span> <span class="text-danger" id="ajaxUsuAsis">@Model.Model.UsuAsi</span></p>
                                                <p class="mb-0 fs-0-8 fw-5"><span class="mr-1">Comercial:</span> <span class="text-danger" id="ajaxUsuComercial">@Model.Model.UsuCom</span></p>
                                                <input type="hidden" value="@Model.Model.ID_Pres2" id="ID_Pres2" />
                                            </div>

                                            <div class="box-grey-bg mr-2 mdc-bg-white">
                                                <p class="mb-1 fs-0-8 fw-5"><span class="mr-1">Dirección:</span> <span class="text-danger">@Model.Model.Dir, @Model.Model.CP</span></p>
                                                <p class="mb-1 fs-0-8 fw-5"><span class="mr-1">Pob / Prov:</span> <span class="text-danger">@Model.Model.Pob - @Model.Model.Pro</span></p>
                                                <p class="mb-1 fs-0-8 fw-5"><span class="mr-1">Teléfono:</span> <span class="text-danger ajaxTel">@Model.Model.Tel</span></p>
                                                <p class="mb-1 fs-0-8 fw-5"><span class="mr-1">Mail:</span> <span class="text-danger ajaxMail">@Model.Model.Mail</span></p>
                                                <p class="mb-0 fs-0-8"><span class="fw-5">A la atención de:</span> <span class="text-danger fw-5" id="ajaxAtt">@Model.Model.Att</span></p>
                                            </div>

                                            <div class="box-grey-bg mr-2 mdc-bg-white">
                                                <p class="mb-1 fs-0-8 fw-5"><span class="mr-1">Tipo de presupuesto:</span> <span class="text-danger">@Model.Model.TipoPres</span></p>
                                                <p class="mb-1 fs-0-8 fw-5">
                                                    <span class="mr-1">Cliente relacionado:</span>
                                                    @if (Model.Model.ID_Cli2Rel != "")
                                                    {
                                                        <span class="text-danger">@Model.Model.Cli2RelTipo - @Model.Model.Cli2Rel <a href="/modulo-clientes/clientes/cliente?ID_Cli2=@Model.Model.ID_Cli2Rel" class="fw-5" target="_blank">(@Model.Model.ID_Cli2Rel)</a></span>

                                                    }
                                                </p>
                                                @if (Model.Model.PVPEspciales != "")
                                                {
                                                    <p class="mb-1 fs-0-8 fw-5"><span class="mr-1">Precios:</span> <span class="text-danger">@Model.Model.PVPEspciales</span></p>
                                                }
                                                <hr class="my-2" />
                                                <p class="mb-1 fs-0-8 fw-5"><span class="mr-1">Presupuestos pendientes:</span> <span class="text-danger">@Model.Model.NumPresPend</span></p>
                                                <p class="mb-0 fs-0-8 fw-5"><span class="mr-1">Presupuestos realizados:</span> <span class="text-danger">@Model.Model.NumPresTotal</span></p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @* Modal Aceptar / Rechazar presupuesto *@

                    <div id="modalAceptarRechazarPresupuesto" tabindex="-1" role="dialog" aria-labelledby="" class="modal fade" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="fs-1 mb-0" id="modalModificarDetalleTitulo">Aceptar presupuesto</h4>
                                    <a href="#" data-dismiss="modal" aria-label="Cerrar"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="modal-body p-0">

                                    <div class="d-flex p-2">
                                        <div class="input-group input-group-sm mb-0">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text mw-90">Comentario</span>
                                            </div>
                                            <textarea class="form-control" rows="4" placeholder="Comentario" id="ComenPres"></textarea>
                                            <input type="hidden" id="oppres" value="" />
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center box-guardar">
                                        <a href="#" target="_blank" class="btn btn-sm btn-primary ar-presupuesto" id="btnadpres">Aceptar presupuesto</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    @* Estado *@
                    @if (Model.Model.Fe_Cerr != "")
                    {
                        <div class="card mb-3">
                            <div class="py-2 px-3 box-border-bottom-light">
                                <h5 class="fw-5 title-section mb-0">Estado del presupuesto</h5>
                            </div>
                            <div class="card-block p-0">

                                <div class="d-flex p-0">

                                    <div class="d-flex w-8 text-center align-items-center justify-content-center box-border-right-light">
                                        <img src="https://image.flaticon.com/icons/svg/321/321830.svg" style="width: 50%;" />
                                    </div>

                                    <div class="w-15 box-border-right-light py-2 px-3">
                                        <h5 class="fw-5 fs-0-9 text-danger">Estado</h5>
                                        @if (Model.Model.Aceptado)
                                        {
                                            <a href="#" class="btn btn-submit btn-sm btn-sm-2x btn-success">Aceptado</a>
                                        }
                                        else
                                        {
                                            <a href="#" class="btn btn-submit btn-sm btn-sm-2x btn-danger">Denegado</a>
                                        }
                                        <hr class="mb-2 mt-2 w-100" />
                                        <p class="mb-1 fs-0-8"><span class="mr-1 fw-5">Fecha:</span> <span>@Model.Model.Fe_Cerr</span></p>
                                        <p class="mb-1 fs-0-8"><span class="mr-1 fw-5">Usuario:</span> <span>@Model.Model.UsuPro</span></p>
                                    </div>

                                    @if (Model.Model.ID_Al2 != "")
                                    {
                                        <div class="w-15 box-border-right-light py-2 px-3">
                                            <h5 class="fw-5 fs-0-9 text-danger">Vinculado a</h5>
                                            <p class="mb-1 fs-0-8"><span class="mr-1 fw-5">Albarán:</span> <a target="_blank" href="/modulo-albaranes/albaranes/albaran/imprimir?ID_Al=@Model.Model.ID_Al">@Model.Model.ID_Al2</a></p>
                                            <p class="mb-1 fs-0-8"><span class="mr-1 fw-5">Total albarán:</span> <span>@Model.Model.TotalAlb</span></p>
                                            @if (Model.Model.Fac != "")
                                            {
                                                <p class="mb-1 fs-0-8"><span class="mr-1 fw-5">Factura:</span> <a href="/modulo-facturacion/informacion-factura/descargar?ID_Fac=@Model.Model.ID_Fac&Tipo=html">@Model.Model.Fac</a></p>
                                            }
                                        </div>
                                    }

                                    <div class="w-50 py-2 px-3 box-border-right-light">
                                        <h5 class="fw-5 fs-0-9 text-danger">Exposición</h5>
                                        <p class="mb-1 fs-0-8"><span>@Model.Model.ExpoRes</span></p>
                                    </div>

                                </div>

                            </div>

                        </div>

                    }
                    @* Solicitudes *@

                    @if (Model.Model.Soli != null)
                    {
                        <div class="card mb-3">
                            <div class="py-2 px-3 box-border-bottom-light">
                                <h5 class="fw-5 title-section mb-0">Solicitud nº <a href="/tareas-pendientes/tarea-pendiente?ID_Soli2=@Model.Model.Soli.ID_Soli2" class="fs-0" target="_blank">@Model.Model.Soli.ID_Soli2</a></h5>
                            </div>
                            <div class="card-block p-0">

                                <div class="d-flex p-0">

                                    <div class="d-flex w-8 text-center align-items-center justify-content-center box-border-right-light">
                                        <img src="https://image.flaticon.com/icons/svg/321/321830.svg" style="width: 50%;" />
                                    </div>

                                    @if (Model.Model.Soli.Fe_Cerr == "")
                                    {
                                        <div class="w-15 box-border-right-light py-2 px-3">
                                            <h5 class="fw-5 fs-0-9 text-danger">Planificación</h5>
                                            <p class="mb-1 fs-0-8"><span class="mr-1 fw-5">Fecha:</span> <span>@Model.Model.Soli.Fe_Prev</span></p>
                                            <p class="mb-1 fs-0-8"><span class="mr-1 fw-5">Usuario:</span> <span>@Model.Model.Soli.UsuAsi</span></p>
                                            <p class="mb-1 fs-0-8"><span class="mr-1 fw-5">Nº comentarios:</span> <span>@Model.Model.Soli.NumTwits</span></p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="w-15 box-border-right-light py-2 px-3">
                                            <h5 class="fw-5 fs-0-9 text-danger">Solicitud cerrada</h5>
                                            <p class="mb-1 fs-0-8"><span class="mr-1 fw-5">Fecha:</span> <span>@Model.Model.Soli.Fe_Cerr</span></p>
                                            <p class="mb-1 fs-0-8"><span class="mr-1 fw-5">Usuario:</span> <span>@Model.Model.Soli.UsuCerr</span></p>
                                        </div>
                                    }
                                    @if (Model.Model.Soli.Fe_Ul != "")
                                    {
                                        <div class="w-50 py-2 px-3 box-border-right-light">
                                            <h5 class="fw-5 fs-0-9 text-danger">Comentarios</h5>
                                            <p class="mb-1 fs-0-8"><span class="mr-1 fw-5">Fecha:</span> <span>@Model.Model.Soli.Fe_Ul</span></p>
                                            <p class="mb-1 fs-0-8"><span class="mr-1 fw-5">Usuario:</span> <span>@Model.Model.Soli.UsuUl</span></p>
                                            <p class="mb-1 fs-0-8"><span class="mr-1 fw-5">Expo:</span> <span>@Model.Model.Soli.ExpoUl</span></p>
                                        </div>
                                    }

                                    <div class="w-50 py-2 px-3">
                                        <h5 class="fw-5 fs-0-9 text-danger">Inicio</h5>
                                        <p class="mb-1 fs-0-8"><span class="mr-1 fw-5">Fecha:</span> <span>@Model.Model.Fe_Al</span></p>
                                        <p class="mb-1 fs-0-8"><span class="mr-1 fw-5">Usuario:</span> <span>@Model.Model.Soli.UsuAl</span></p>
                                        <p class="mb-1 fs-0-8"><span class="mr-1 fw-5">Expo:</span> <span>@Model.Model.Soli.Expo</span></p>
                                        @if (Model.Model.Soli.Url != "")
                                        {
                                            <p class="mb-1 fs-0-8"><span class="mr-1 fw-5">Web:</span> <span>@Model.Model.Soli.Url</span></p>
                                        }
                                    </div>

                                </div>

                            </div>
                        </div>
                    }

                    @* Orden de produccion *@

                    @if (Model.Model.Prod != null)
                    {
                        <div class="card mb-3">
                            <div class="py-2 px-3 box-border-bottom-light">
                                <h5 class="fw-5 title-section mb-0">Producción</h5>
                            </div>
                            <div class="card-block p-0">

                                <div class="d-flex p-0">

                                    <div class="d-flex w-8 text-center align-items-center justify-content-center box-border-right-light">
                                        <img src="https://image.flaticon.com/icons/svg/321/321830.svg" style="width: 50%;" />
                                    </div>

                                    <div class="w-15 box-border-right-light py-2 px-3">
                                        <h5 class="fw-5 fs-0-9 text-danger">Ordenes de producción</h5>
                                        @if (Model.Model.Prod.ID_Ord2 != null)
                                        {
                                            @for (Int32 t = 0; t < Model.Model.Prod.ID_Ord2.Length; t++)
                                            {
                                                <p class="mb-1 fs-0-8"><span class="mr-1 fw-5">Orden nº </span> <a href="/modulo-produccion/ordenes-abiertas/orden-detalles?ID_Ord2=@Model.Model.Prod.ID_Ord2[t]" class="fs-0" target="_blank">@Model.Model.Prod.ID_Ord2[t]</a></p>
                                            }
                                        }
                                        else
                                        {
                                            <p class="mb-1 fs-0-8"><span class="mr-1 fw-5">No hay ordenes</span></p>
                                        }
                                        @if (Model.Model.Prod.Albs != null)
                                        {
                                            <p class="mb-1 fs-0-8"><span class="mr-1 fw-5">Nº entregas:</span> <a href="#entregas">@Model.Model.Prod.Albs.Length.ToString()</a></p>
                                        }
                                        else
                                        {
                                            <p class="mb-1 fs-0-8"><span class="mr-1 fw-5">No hay entregas</span></p>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    }

                    @* Modificar presupuesto *@

                    <div class="row">
                        <div class="col-8">
                            <div class="card card-table mb-3">
                                <div class="card-header card-header-options">
                                    <span>Presupuesto</span>
                                    <div class="d-flex">
                                        <a href="#" class="btn btn-sm btn-primary mr-1 ver-enviar-pres"><i class="fa fa-send-o mr-1"></i> Envío</a>
                                        <a href="/modulo-presupuestos/presupuestos/presupuesto/imprimir?ID_Pres2=@Model.Model.ID_Pres2" target="_blank" class="btn btn-sm btn-primary mr-1"><i class="fa fa-print mr-1"></i> Imprimir</a>
                                        @if (Model.Model.Fe_Cerr == "")
                                        {
                                            @if (Model.Model.Soli == null)
                                            {
                                                <a href="#" class="btn btn-sm btn-primary mr-1 ver-hacer-seguimiento"><i class="fa fa-random mr-1" style="font-size: 14px !important;"></i> Seguimiento</a>
                                            }
                                            <a href="#" class="btn btn-sm btn-primary mr-1 presupuesto-editar"><i class="fa fa-pencil mr-1" style="font-size: 14px !important;"></i> Editar</a>
                                            <a href="#" class="btn btn-sm btn-primary mr-1 ver-rapido"><i class="fa fa-cube mr-1" style="font-size: 14px !important;"></i> Añadir rápido</a>
                                            <a href="#" class="btn btn-sm btn-primary mr-1 ver-articulo"><i class="fa fa-cubes mr-1" style="font-size: 14px !important;"></i> Añadir artículo</a>
                                            <a href="#" class="btn btn-sm btn-primary ver-servicio"><i class="fa fa-cogs mr-1" style="font-size: 14px !important;"></i> Añadir servicio</a>
                                        }
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="d-flex justify-content-between">
                                        <div class="col-12 pt-3 pb-3">

                                            @if (Model.Model.ExpoPres != "")
                                            {
                                                <p class="mb-1 fs-0-8" style="display: block;"><span class="fw-5">Exposición:</span></p>
                                                <div class="box-grey box-grey-light box-html-raw mdc-bg-white fs-0-8 my-2 p-2">
                                                    @Html.Raw(@Model.Model.ExpoPres)
                                                </div>
                                            }
                                            else
                                            {
                                                <p class="mb-1 fs-0-8" style="display: none;" id=""><span class="fw-5">Exposición:</span> <span id="">@Html.Raw(@Model.Model.ExpoPres)</span></p>
                                            }
                                            @if (Model.Model.Breve != "")
                                            {
                                                <p class="mb-1 fs-0-8"><span class="fw-5">Breve:</span> @Model.Model.Breve</p>
                                            }
                                            @if (Model.Model.Obs != "")
                                            {
                                                <p class="mb-1 fs-0-8"><span class="fw-5">Observaciones:</span> @Model.Model.Obs</p>
                                            }
                                            @if (Model.Model.ObsPriv != "")
                                            {
                                                <p class="mb-1 fs-0-8" style="display: block;"><span class="fw-5">Observaciones privadas:</span> <span id="">@Model.Model.ObsPriv</span></p>
                                            }
                                            else
                                            {
                                                <p class="mb-1 fs-0-8" style="display: none;"><span class="fw-5">Observaciones privadas:</span> <span id="">@Model.Model.ObsPriv</span></p>
                                            }
                                        </div>
                                    </div>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center w-5">Cantidad</th>
                                                <th class="text-center w-10">Código</th>
                                                <th>Detalle</th>
                                                <th class="w-5 text-center">Descuento</th>
                                                <th class="text-center w-5">Eliminar</th>
                                                <th class="text-right">Precio</th>
                                                <th class="text-right">Subtotal</th>
                                            </tr>
                                        </thead>
                                        <tbody id="actualizarPresupuesto">
                                            <tr>
                                                <td colspan="7" class="text-center">
                                                    <div class="d-flex align-items-center py-2">
                                                        <i class="fa fa-cog fa-spin fa-2x fa-fw text-success"></i> <span class="text-success fs-1-1">Cargando detalles del presupuesto</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="d-flex justify-content-between align-items-center box-border-top pt-2 pb-2 mdc-bg-blue-grey-50" id="presupuestoTotal" style="display: none !important;">
                                    </div>
                                </div>
                            </div>

                            @if (Model.Model.Prod != null)
                            {
                                if (Model.Model.Prod.Albs != null)
                                {

                            <div class="row">
                                <div class="col-9">
                                    <div class="card card-table mb-3">
                                        <div class="card-header card-header-options">
                                            <span>Detalles del presupuesto entregados <a name="entregas"></a></span>
                                        </div>
                                        <div class="card-block">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Detalle</th>
                                                        <th class="w-5 text-center">Can.</th>
                                                        <th class="w-5 text-center">Entregado</th>
                                                        <th class="w-5 text-center">Pendiente</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (Int32 t = 0; t < Model.Model.Prod.Res.Length; t++)
                                                    {
                                                        <tr>
                                                            <td>@Model.Model.Prod.Res[t].datoS2</td>
                                                            <td class="text-center">@Model.Model.Prod.Res[t].datoS3</td>
                                                            <td class="text-center">@Model.Model.Prod.Res[t].datoS5</td>
                                                            <td class="text-center">@Model.Model.Prod.Res[t].datoS4</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="card card-table mb-3">
                                        <div class="card-header card-header-options">
                                            <span>Albaranes entregados</span>
                                        </div>
                                        <div class="card-block">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="w-5 text-center">Nº albarán</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (Int32 t = 0; t < Model.Model.Prod.Albs.Length; t++)
                                                    {
                                                        <tr>
                                                            <td class="text-center">
                                                                <a target="_blank" href="/modulo-albaranes/albaranes/albaran/imprimir?ID_Al=@Model.Model.Prod.Albs[t].datoI" class="fw-5" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver Albarán">@Model.Model.Prod.Albs[t].datoS3</a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                }
                            }

                        </div>

                        <div class="col-4">

                            <div class="card-info-wrapper w-100" id="sindatos" style="display: none;">
                                <div class="card-info">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="https://image.flaticon.com/icons/svg/609/609998.svg" style="width: 20%;">
                                        <div class="d-flex flex-column">
                                            <p class="mb-2 ml-3">En esta pantalla podrá modificar o ampliar su presupuesto</p>
                                            <p class="mb-2 ml-3 mt-2 fs-0-8">Las opciones disponibles son:<br /><span class="fw-5 text-danger">Editar presupuesto:</span> edición de los parámetros básicos de su presupuesto.<br /><span class="fw-5 text-danger">Añadir rápido:</span> añadir un servicio libre no contemplado previamente.<br /><span class="fw-5 text-danger">Añadir servicio:</span> añadir un servicio previamente categorizado.</p>
                                            <p class="mb-2 ml-3 mt-2 fs-0-8">Además podrá <span class="fw-5">modificar las características</span> de un servicio presupuestado (código, cantidad, precio, descuento, etc).</p>
                                        </div>
                                    </div>
                                </div>
                                <svg class="card-info-triangle">
                                    <polygon points="0,0 200,0 0,200" fill="currentColor"></polygon>
                                </svg>
                            </div>

                            @* Hacer seguimiento *@

                            @if (Model.Model.Soli == null)
                            {
                                <div class="card card-table mb-3" id="hacerSolicitud" style="display: none;">
                                    <div class="card-header card-header-options">
                                        <span id="">Seguimiento</span>
                                    </div>
                                    <div class="card-block p-0">
                                        <div class="d-flex flex-column p-2">

                                            <div class="input-group input-group-sm mb-1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text mw-140">Asignar a</span>
                                                </div>
                                                <input type="text" class="form-control" id="segAsignar" name="" aria-describedby="" placeholder="Asignar a">
                                                <input type="hidden" id="vsegAsignar" name="vsegAsignar" />
                                                <input type="hidden" id="tsegAsignar" name="tsegAsignar" />
                                            </div>

                                            <div class="input-group input-group-sm mb-1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text mw-140">Seguimiento</span>
                                                </div>
                                                <input type="text" class="form-control" id="segSeguimiento" name="" aria-describedby="" placeholder="Seguimiento">
                                            </div>

                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text mw-140">Fecha Prevista</span>
                                                </div>
                                                <input type="text" class="form-control" id="segFechaPrevista" name="" aria-describedby="" placeholder="Fecha Prevista">
                                            </div>

                                        </div>
                                        <div class="d-flex justify-content-center box-border-top p-2 mdc-bg-blue-grey-50">
                                            <a href="#" class="btn btn-sm btn-primary generar-solicitud">Generar</a>
                                        </div>
                                    </div>
                                </div>
                            }

                            @* Editar presupuesto *@

                            <div class="card card-table mb-3" id="presupuestoEditar" style="display: none;">
                                <div class="card-header card-header-options">
                                    <span id="">Editar presupuesto</span>
                                </div>
                                <div class="card-block p-0">
                                    <div class="d-flex flex-column p-2">

                                        <div class="input-group input-group-sm mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text mw-140">Tipo presupuesto</span>
                                            </div>
                                            <select class="custom-select" id="modPresTipo"></select>
                                        </div>

                                        <div class="input-group input-group-sm mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text mw-140">Usuario asistencia</span>
                                            </div>
                                            <input type="text" class="form-control" id="modPresUsuAsis" name="modPresUsuAsis" aria-describedby="" placeholder="Usuario asistencia">
                                            <input type="hidden" id="vmodPresUsuAsis" name="vmodPresUsuAsis" />
                                            <input type="hidden" id="tmodPresUsuAsis" name="tmodPresUsuAsis" />
                                        </div>

                                        <div class="input-group input-group-sm mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text mw-140">Usuario comercial</span>
                                            </div>
                                            <input type="text" class="form-control" id="modPresUsuComercial" aria-describedby="" placeholder="Usuario comercial">
                                            <input type="hidden" id="vmodPresUsuComercial" name="vmodPresUsuComercial" />
                                            <input type="hidden" id="tmodPresUsuComercial" name="tmodPresUsuComercial" />
                                        </div>

                                        <div class="input-group input-group-sm mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text mw-140">Breve</span>
                                            </div>
                                            <textarea class="form-control" aria-label="With textarea" placeholder="Breve" id="modPresBreve" maxlength="200"></textarea>
                                        </div>

                                        <div class="input-group input-group-sm mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text mw-140">Observaciones</span>
                                            </div>
                                            <textarea class="form-control" aria-label="With textarea" placeholder="Observaciones" id="modPresObs"></textarea>
                                        </div>

                                        <div class="input-group input-group-sm mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text mw-140">A la atención de</span>
                                            </div>
                                            <textarea class="form-control" aria-label="With textarea" placeholder="Observaciones" id="modPresAtt" maxlength="100"></textarea>
                                        </div>

                                        <div class="input-group input-group-sm mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text mw-140">Teléfono</span>
                                            </div>
                                            <input type="text" class="form-control" id="modPresTel" value="" placeholder="Telefono" list="Tels" maxlength="50">
                                            <datalist id="Tels" />
                                        </div>

                                        <div class="input-group input-group-sm mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text mw-140">Mail</span>
                                            </div>
                                            <input type="text" class="form-control" id="modPresMail" value="" placeholder="Mail" list="Mails" maxlength="100">
                                            <datalist id="Mails" />
                                        </div>

                                        <div class="input-group input-group-sm mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text mw-140">Obs. privadas</span>
                                            </div>
                                            <textarea class="form-control" aria-label="With textarea" placeholder="Detalle" id="modPresObsPriv"></textarea>
                                        </div>

                                        <div class="input-group input-group-sm mb-0">
                                            <textarea name="modPresExpo" id="modPresExpo" class="form-control mw-100" rows="8" placeholder="Exposición"></textarea>
                                        </div>

                                    </div>
                                    <div class="d-flex justify-content-center box-border-top p-2 mdc-bg-blue-grey-50">
                                        <a href="#" class="btn btn-sm btn-primary mod-pres-guardar">Guardar</a>
                                    </div>
                                </div>
                            </div>

                            @* Añadir artículo *@

                            <div class="card card-table mb-3" style="display: none;" id="verArticulo">
                                <div class="card-header card-header-options">
                                    <span>Añadir artículo</span>
                                </div>
                                <div class="card-block">
                                    <div class="d-flex justify-content-center p-2">
                                        <div class="input-group card-search-box">
                                            <input type="text" class="form-control" placeholder="Añadir artículo" name="" id="buscarArticulo">
                                            <span class="input-group-append">
                                                <button class="btn btn-primary buscar-art" type="submit">Buscar</button>
                                            </span>
                                        </div>
                                    </div>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Artículo</th>
                                                <th class="text-center">Código</th>
                                                <th class="w-10 text-center">Stock</th>
                                                <th class="w-10 texr-right">Precio</th>
                                                <th class="w-10 text-center">Cantidad</th>
                                                <th class="w-10 text-center">Añadir</th>
                                            </tr>
                                        </thead>
                                        <tbody id="actualizarArticulo">
                                            <tr>
                                                <td colspan="6">
                                                    <p class="mb-0 py-2 fw-5 text-danger"><i class="fa fa-exclamation-triangle"></i> Introduzca el nombre del artículo a buscar</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="articulos-paginador" class="mb-3" style="display:none;"></div>

                            @* Añadir servicio *@

                            <div class="card card-table mb-3" style="display: none;" id="verServicio">
                                <div class="card-header card-header-options">
                                    <span>Añadir servicio</span>
                                </div>
                                <div class="card-block">
                                    <div class="d-flex justify-content-center p-2">
                                        <div class="input-group card-search-box">
                                            <input type="text" class="form-control" placeholder="Añadir servicio" name="" id="buscarServicio">
                                            <span class="input-group-append">
                                                <button class="btn btn-primary buscar-serv" type="submit">Buscar</button>
                                            </span>
                                        </div>
                                    </div>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Servicio</th>
                                                <th class="w-20 text-center">Precio</th>
                                                <th class="w-10 text-center">Cantidad</th>
                                                <th class="w-10 text-center">Añadir</th>
                                            </tr>
                                        </thead>
                                        <tbody id="actualizarServicio">
                                            <tr>
                                                <td colspan="5">
                                                    <p class="mb-0 py-2 fw-5 text-danger"><i class="fa fa-exclamation-triangle"></i> Introduzca el nombre del servicio a buscar</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="servicios-paginador" class="mb-3" style="display:none;"></div>

                            @* Añadir rápido *@

                            <div class="card card-table mb-3" style="display: none;" id="verRapido">
                                <div class="card-header card-header-options">
                                    <span id="tel-titulo">Añadir servicio libre</span>
                                </div>
                                <div class="card-block p-0">
                                    <div class="d-flex flex-column p-2">

                                        <div class="input-group input-group-sm mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text mw-100">Exposición</span>
                                            </div>
                                            <input type="text" class="form-control" id="rapExpo" aria-describedby="" placeholder="Exposición" maxlength="800">
                                        </div>

                                        <div class="input-group input-group-sm mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text mw-100">Código</span>
                                            </div>
                                            <input type="text" class="form-control" id="rapCodigo" aria-describedby="" placeholder="Código" maxlength="25">
                                        </div>

                                        <div class="input-group input-group-sm mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text mw-100">Cantidad</span>
                                            </div>
                                            <input type="text" class="form-control" id="rapCan" aria-describedby="" placeholder="Cantidad">
                                        </div>

                                        <div class="input-group input-group-sm mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text mw-100">Coste</span>
                                            </div>
                                            <input type="text" class="form-control" id="rapCoste" aria-describedby="" placeholder="Coste">
                                            <div class="input-group-append">
                                                <span class="input-group-text mw-35">€</span>
                                            </div>
                                        </div>

                                        <div class="input-group input-group-sm mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text mw-100">Precio</span>
                                            </div>
                                            <input type="text" class="form-control" id="rapPVP" aria-describedby="" placeholder="Precio">
                                            <div class="input-group-append">
                                                <span class="input-group-text mw-35">€</span>
                                            </div>
                                        </div>
                                        @*<div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text mw-100">Descuento</span>
                                    </div>
                                    <input type="text" class="form-control" id="rapDto" aria-describedby="" placeholder="Descuento">
                                    <div class="input-group-append">
                                        <span class="input-group-text mw-35">€</span>
                                    </div>
                                </div>*@
                                    </div>
                                    <div class="d-flex justify-content-center box-border-top p-2 mdc-bg-blue-grey-50">
                                        <a href="#" class="btn btn-sm btn-primary add-servicio-libre">Añadir</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    @* Modal Enviar Presupuesto *@

                    <div id="modalEnviarPresupuesto" tabindex="-1" role="dialog" aria-labelledby="" class="modal fade" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="fs-1 mb-0" id="">Enviar presupuesto</h4>
                                    <a href="#" data-dismiss="modal" aria-label="Cerrar"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="modal-body p-2">
                                    <div class="d-flex align-items-center mb-2">

                                        <div class="input-group mb-0 mr-2 w-100">
                                            <div class="input-group-prepend input-group-text-auto">
                                                <span class="input-group-text mw-110">Mails</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Mail" id="Mail" list="Mails" value="">
                                            <datalist id="Mails"></datalist>
                                            <div class="input-group-append input-group-text-auto">
                                                <button type="button" class="btn btn-sm btn-primary addmail">Añadir</button>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="d-flex flex-column mb-2">
                                        <div class="box-labels">
                                            <div class="d-flex align-items-center align-self-stretch">
                                                <label class="m-0 box-label-label align-self-stretch mw-110">Destinatarios</label>
                                                <p class="mb-0 px-2" id=""></p>
                                                <ul id="mailsenvio"></ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex mb-2">
                                        <div class="input-group input-group-sm mb-0">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text mw-110">Asunto</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Asunto" id="Asunto" value="">
                                        </div>
                                    </div>

                                    <div class="input-group mb-2 mr-2 w-100">
                                        <div class="input-group-prepend input-group-text-auto">
                                            <span class="input-group-text mw-110">Plantilla</span>
                                        </div>
                                        <select class="custom-select obtener-plantilla" id="ID_TM2"></select>
                                    </div>

                                    <div class="d-flex mb-2">
                                        <div class="input-group input-group-sm mb-0">
                                            <textarea name="enviarPresPlantilla" id="enviarPresPlantilla" class="form-control mw-100" rows="8" placeholder="Plantilla"></textarea>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center box-guardar">
                                        <a href="#" target="_blank" class="btn btn-sm btn-primary enviar-presupuesto"><i class="fa fa-send mr-1" style="font-size: 14px !important;"></i> Enviar presupuesto</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @* Modal Modificar Presupuesto *@

                    <div id="modalModificarPresupuesto" tabindex="-1" role="dialog" aria-labelledby="" class="modal fade" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="fs-1 mb-0" id="modalModificarDetalleTitulo">Modificar detalle</h4>
                                    <a href="#" data-dismiss="modal" aria-label="Cerrar"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="modal-body p-0">
                                    <div class="d-flex px-2 pt-2">
                                        <div class="input-group input-group-sm mb-0">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text mw-90">Detalle</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Modificar detalle" id="modDet" value="">
                                        </div>
                                    </div>

                                    <div class="d-flex px-2 pt-1">
                                        <div class="input-group input-group-sm mb-0">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text mw-90">Código</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Modificar código" id="modCod" value="">
                                        </div>
                                    </div>

                                    <div class="d-flex p-2">
                                        <div class="d-flex flex-column w-50 mr-2">
                                            <div class="input-group input-group-sm mb-1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text mw-90">Cantidad</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Cantidad" id="modCant" value="">
                                            </div>
                                            <div class="input-group input-group-sm mb-1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text mw-90">Descuento</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Descuento %" id="modDesc" value="">
                                                <div class="input-group-append">
                                                    <span class="input-group-text mw-35">%</span>
                                                </div>
                                            </div>
                                            <div class="input-group input-group-sm mb-1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text mw-90">Descuento</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Descuento €" id="modDescEuro" value="">
                                                <div class="input-group-append">
                                                    <span class="input-group-text mw-35" style="min-width: 36px !important;">€</span>
                                                </div>
                                            </div>
                                            <div class="input-group input-group-sm mb-1" id="divModIRPF">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text mw-90">IRPF</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="IRPF (%)" id="modIrpf" value="">
                                                <div class="input-group-append">
                                                    <span class="input-group-text mw-35">%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column w-50">
                                            <div class="input-group input-group-sm mb-1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text mw-90">Precio</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Precio" id="modPrecio" value="">
                                                <div class="input-group-append">
                                                    <span class="input-group-text mw-35" style="min-width: 36px !important;">€</span>
                                                </div>
                                            </div>
                                            <div class="input-group input-group-sm mb-1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text mw-90">IVA</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="IVA (%)" id="modIva" value="">
                                                <div class="input-group-append">
                                                    <span class="input-group-text mw-35">%</span>
                                                </div>
                                            </div>
                                            <div class="input-group input-group-sm mb-1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text mw-90">Coste</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Coste" id="modCoste" value="">
                                            </div>
                                            <div class="input-group input-group-sm mb-1" id="divModReq">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text mw-90">REQ</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="REQ (%)" id="modReq" value="">
                                                <div class="input-group-append">
                                                    <span class="input-group-text mw-35">%</span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="d-flex justify-content-center box-guardar">
                                        <a href="#" target="_blank" class="btn btn-sm btn-primary mod-guardar-detalle">Guardar</a>
                                        <input type="hidden" value="" id="ID_NPCD" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @* Modal Nº de envíos *@

                    <div id="modalNumeroEnvios" tabindex="-1" role="dialog" aria-labelledby="" class="modal fade" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="fs-1 mb-0" id="hisenvnum">Nº de veces enviado</h4>
                                    <a href="#" data-dismiss="modal" aria-label="Cerrar"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="modal-body p-2">

                                    <div class="d-flex flex-column mb-2">

                                        <div class="card card-table">
                                            <div class="card-block p-0">
                                                <div class="d-flex flex-column p-0">
                                                    <table class="table table-striped border-top-none">
                                                        <thead>
                                                            <tr>
                                                                <th class="w-40">De</th>
                                                                <th class="text-left">Para</th>
                                                                <th class="text-center w-5">Ver</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="hisenv"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    @* Modal Duplicar Presupuesto *@

                    <div id="modalDuplicarPresupuesto" tabindex="-1" role="dialog" aria-labelledby="" class="modal fade" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="fs-1 mb-0" id="tit-acc-pres">Duplicar presupuesto</h4>
                                    <a href="#" data-dismiss="modal" aria-label="Cerrar"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="modal-body p-0">

                                    <div class="d-flex flex-column p-2">

                                        <div class="input-group input-group-sm mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text mw-150">Seleccionar cliente</span>
                                            </div>
                                            <input type="text" class="form-control" id="nuevoPresCliente" aria-describedby="" placeholder="Para cliente">
                                            <input type="hidden" id="vnuevoPresCliente" name="vnuevoPresCliente" />
                                            <input type="hidden" id="tnuevoPresCliente" name="tnuevoPresCliente" />
                                        </div>

                                        <div class="input-group input-group-sm mb-0">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text mw-150">Seleccionar contacto</span>
                                            </div>
                                            <input type="text" class="form-control" id="nuevoPresContacto" aria-describedby="" placeholder="Para contacto">
                                            <input type="hidden" id="vnuevoPresContacto" name="vnuevoPresContacto" />
                                            <input type="hidden" id="tnuevoPresContacto" name="tnuevoPresContacto" />
                                            <input type="hidden" id="duplicar" value="" />
                                        </div>

                                        <hr class="mb-2 mt-2" style="width: 100%;" />

                                        <div class="box-labels">
                                            <div class="d-flex align-items-center align-self-stretch">
                                                <label class="m-0 box-label-label align-self-stretch mw-150">Seleccionar dirección</label>
                                                <div class="d-flex flex-column px-2 pb-0 py-1" id="Dirs">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="d-flex justify-content-center box-border-top p-2 mdc-bg-blue-grey-50">
                                        <a href="#" class="btn btn-sm btn-primary presupuesto-accion" id="btnsave">Duplicar</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    @* Modal Forma de pago *@

                    <div id="modalFormaPago" tabindex="-1" role="dialog" aria-labelledby="" class="modal fade" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="fs-1 mb-0" id="tit-acc-pres">Forma de pago</h4>
                                    <a href="#" data-dismiss="modal" aria-label="Cerrar"><i class="fa fa-times"></i></a>
                                </div>
                                <div class="modal-body p-0">

                                    <div class="p-2">
                                        <div class="d-flex mb-1">
                                            <div class="input-group input-group-sm mb-0">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text text-left">Observaciones<br>Forma de pago</span>
                                                </div>
                                                <textarea class="form-control" id="ObsForma" value="" placeholder="Observaciones forma de pago" rows="3"></textarea>
                                            </div>
                                        </div>

                                        <div class="input-group mb-1 w-100">
                                            <div class="input-group-prepend input-group-text-auto">
                                                <span class="input-group-text">Forma</span>
                                            </div>
                                            <select class="custom-select" id="ID_For"></select>
                                        </div>

                                        <div class="input-group mb-1 w-100">
                                            <div class="input-group-prepend input-group-text-auto">
                                                <span class="input-group-text">Cuenta</span>
                                            </div>
                                            <select class="custom-select" id="ID_CueNeg"></select>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center box-border-top p-2 mdc-bg-blue-grey-50">
                                        <a href="#" class="btn btn-sm btn-primary guardar-forma-de-pago">Guardar</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

<script>
    actualizarPresupuesto(@Model.Model.ID_Pres2);
</script>
