@model ModuloContabilidadLibrary.ModuloContabilidadConciliacionPagosProveedoresViewModel

@{
    Layout = "~/Views/Shared/Modulo-Contabilidad/_Modulo-Contabilidad-Conciliacion-Proveedores.cshtml";
    ViewData["Title"] = "Módulo Contabilidad - Conciliación Proveedores";
    ViewData["Title-Bloque-1"] = "Webs";
    ViewData["Message"] = "CMS - Gaolos App v2017";
}

<div class="main-content m-0">

    <div class="container-fluid mb-3">
        <div class="row">
            <div class="col-12 header-section mb-0">
                <h2>@ViewData["Title"]</h2>
                @Html.Raw(ViewData["Migas"])
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                @if (Model.Model.Err.eserror)
                {
                    ViewData["err"] = Model.Model.Err.mensaje;
                    @Html.Partial("AccesoDenegado");
                }
                else
                {
                    @* Movimientos bancarios por conciliar *@

                    <div class="card mb-3">
                        <div class="card-header card-header-options">
                            <span>Buscar movimiento cuenta</span>

                            <div class="card-actions">
                                <ul>
                                    <li><a href="#" class="handle"><i class="fa fa-bars"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-block p-0">

                            <div class="d-flex justify-content-center align-items-center">
                                <div class="col-1 box-border-right-light pb-2 pt-2">
                                    <img src="https://image.flaticon.com/icons/svg/306/306086.svg" style="width: 100%;">
                                </div>
                                <div class="col-11 pt-0 pb-2">
                                    <form action="/modulo-biblioteca/documentos" method="post" class="m-0">
                                        <select class="custom-select p-0 px-1 pl-2 col-4 cuenta" id="ID_Cue">
                                            @if (Model.Model.Cues != null)
    {
        for (Int32 t = 0; t < Model.Model.Cues.Length; t++)
        {
                                        <option value="@Model.Model.Cues[t].id">@Model.Model.Cues[t].det</option>
}
}
else
{
                                        <option value="">- no hay cuentas definidas</option>
}
                                        </select>
                                    </form>
                                </div>
                            </div>


                        </div>
                    </div>
                }
            </div>
        </div>

        @if (!Model.Model.Err.eserror)
        {

            @* Movimientos bancarios por conciliar *@
            <div class="row">
                <div class="col-9">
                    <div class="card card-table">
                        <div class="card-header card-header-options">
                            <span>Movimientos bancarios por conciliar</span>
                            <div class="card-actions d-flex justify-content-center align-items-center">

                                <div class="form-check form-check-inline mb-0 mr-3">
                                    <div class="custom-control custom-radio mb-0">
                                        <input class="custom-control-input" type="radio" name="mov-cue-sel" id="todo-mov-cue" value="">
                                        <label class="custom-control-label" for="todo-mov-cue">Todo</label>
                                    </div>
                                </div>
                                <div class="form-check form-check-inline mb-0">
                                    <div class="custom-control custom-radio mb-0 col-5">
                                        <input class="custom-control-input" type="radio" name="mov-cue-sel" id="solo-mov-pago" value="" checked>
                                        <label class="custom-control-label" for="solo-mov-pago" style="width: 5rem;">Solo pagos</label>
                                    </div>
                                </div>

                                <div class="input-group input-group-sm card-search-box m-0">
                                    <input type="text" class="form-control" placeholder="Inicio" value="@ViewData["fe-in-mov"]" id="fe-in-mov" style="width: 5rem;">
                                    <input type="text" class="form-control" placeholder="Fin" value="@ViewData["fe-fi-mov"]" id="fe-fi-mov" style="width: 5rem;">
                                    <input type="text" class="form-control" placeholder="Importe" value="@ViewData["importe"]" id="importe-mov" style="width: 5rem;">
                                    <input type="text" class="form-control" placeholder="Buscar ..." value="@ViewData["buscar"]" id="buscar-mov" style="width: 10rem;">
                                    <select class="form-control form-control-sm custom-select cuenta" id="reg-mov-cue" style="width: 4rem; margin-right: -1px;">
                                        <option value="8" selected>8</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                    <span class="input-group-append" style="margin-left: 1px;">
                                        <button class="btn btn-primary ref-mov" type="button">Buscar</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="card-block">
                            <form>
                                <table class="table table-striped table-select table-condensed" id="">
                                    <thead>
                                        <tr>
                                            <th class="w-10">Fecha</th>
                                            <th class="">Concepto</th>
                                            <th class="text-right w-10">Ingreso</th>
                                            <th class="text-right w-10">Pago</th>
                                            <th class="text-center w-5">Seleccionar</th>
                                        </tr>
                                    </thead>
                                    <tbody id="cuenta-movimientos">
                                        <tr><td colspan='5'><p class='fw-5 text-danger mb-0'><i class='fa fa-exclamation-circle mr-1'></i> Seleccione una cuenta</p></td></tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                    <div id="movimientos-cuenta-paginador" class="mb-3"></div>
                </div>

                <div class="col-3">
                    <div class="card card-table mb-3" style="display: block;" id="">
                        <div class="card-header card-header-options">
                            <span>Conciliar</span>
                            <div class="card-actions">
                                <ul>
                                    <li><a href="#" class="handle"><i class="fa fa-bars"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-block" role="tablist" aria-multiselectable="true">
                            <form class="p-3 mb-0">

                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex justify-content-between">
                                            <p class="fw-5">Total banco:</p>
                                            <p class="text-right fw-5 text-info" id="total-mov">0,00 €</p>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <p class="fw-5">Total fracciones:</p>
                                            <p class="text-right fw-5 text-info" id="total-fra">0,00 €</p>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group mb-0 text-center">
                                    <button type="button" class="btn btn-primary btn-sm conciliar">Conciliar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            @* Facturas de proveedores por conciliar *@
            <div class="row">
                <div class="col-9">
                    <div class="card card-table">
                        <div class="card-header card-header-options">
                            <span>Facturas de proveedores por conciliar</span>
                            <div class="card-actions">

                                <div class="form-check form-check-inline mb-0 mr-3">
                                    <div class="custom-control custom-radio mb-0">
                                        <input class="custom-control-input" type="radio" name="conc-sel" id="todo-si-conc" value="">
                                        <label class="custom-control-label" for="todo-si-conc">Todo</label>
                                    </div>
                                </div>
                                <div class="form-check form-check-inline mb-0">
                                    <div class="custom-control custom-radio mb-0 col-5">
                                        <input class="custom-control-input" type="radio" name="conc-sel" id="solo-no-conc" value="" checked>
                                        <label class="custom-control-label" for="solo-no-conc" style="width: 5rem;">Sin conciliar</label>
                                    </div>
                                </div>

                                <div class="input-group input-group-sm card-search-box m-0">
                                    <div class="input-group input-group-sm card-search-box m-0">
                                        <input type="text" class="form-control" placeholder="Inicio" value="@ViewData["fe-in-fra"]" id="fe-in-fra" style="width: 5rem;">
                                        <input type="text" class="form-control" placeholder="Fin" value="@ViewData["fe-fi-fra"]" id="fe-fi-fra" style="width: 5rem;">
                                        <input type="text" class="form-control" placeholder="Importe" value="@ViewData["importe-fra"]" id="importe-fra" style="width: 5rem;">
                                        <input type="text" class="form-control" placeholder="Buscar ..." value="@ViewData["buscar-fra"]" id="buscar-fra" style="width: 10rem;">
                                        <select class="form-control form-control-sm custom-select ref-fra" id="reg-fra-cue" style="border-right: none; width: 4rem; margin-right: -1px;">
                                            <option value="8" selected>8</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                        <span class="input-group-append" style="margin-left: 1px;">
                                            <button class="btn btn-primary ref-fra" type="button">Buscar</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-block">
                            <form>
                                <table class="table table-striped table-select table-condensed" id="">
                                    <thead>
                                        <tr>
                                            <th class="w-10">Vencimiento</th>
                                            <th class="">Concepto</th>
                                            <th class="w-20 text-right">Forma</th>
                                            <th class="text-right w-10">Importe</th>
                                            <th class="text-center w-5">Seleccionar</th>
                                        </tr>
                                    </thead>
                                    <tbody id="fracciones-facturas"></tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                    <div id="fracciones-facturas-paginador"></div>
                </div>
                <div class="col-3">
                    <div class="card card-table mb-3" style="display: none;" id="info-fra">
                        <div class="card-header card-header-options">
                            <span>Información fracción</span>
                        </div>
                        <div class="card-block" role="tablist" aria-multiselectable="true">
                            <form class="p-3 mb-0">

                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex justify-content-between">
                                            <p class="fw-5">Vencimiento:</p>
                                            <p class="fw-5 text-info" id="info-fe-ve"></p>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <p class="fw-5">Factura:</p>
                                            <p class="fw-5 text-info" id="info-fac"></p>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <p class="fw-5">Importe:</p>
                                            <p class="fw-5 text-info" id="info-imp"></p>
                                        </div>
                                        <hr class="mt-0 mb-3" />
                                        <div class="d-flex justify-content-between">
                                            <p class="fw-5">Forma:</p>
                                            <p class="fw-5 text-info" id="info-forma"></p>
                                        </div>
                                        <div class="d-flex justify-content-between" id="ver-cue">
                                            <p class="fw-5">Cuenta:</p>
                                            <p class="fw-5 text-info" id="info-cue"></p>
                                        </div>
                                        <div class="d-flex justify-content-between" id="ver-cueneg">
                                            <p class="fw-5">Cuenta negocio:</p>
                                            <p class="fw-5 text-info" id="info-cueneg"></p>
                                        </div>
                                        <hr class="mt-0 mb-3" />
                                        <div class="d-flex justify-content-between ver-fra" style="display:none;">
                                            <p class="fw-5">Nº total fracciones:</p>
                                            <p class="fw-5 text-info" id="info-numfrat"></p>
                                        </div>
                                        <div class="d-flex justify-content-between ver-fra" style="display:none;">
                                            <p class="fw-5">Total factura:</p>
                                            <p class="fw-5 text-info" id="info-total"></p>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <p class="fw-5">Fecha factura:</p>
                                            <p class="fw-5 text-info" id="info-fe-fa"></p>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <p class="fw-5 pr-1">Proveedor:</p>
                                            <p class="fw-5 text-info" id="info-cli"></p>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <p class="fw-5">Nº de proveedor:</p>
                                            <p class="fw-5 text-info" id="info-id-cli2"></p>
                                        </div>
                                        <div class="d-flex justify-content-between" id="info-hay-doc" style="display:none;">
                                            <button type="button" class="btn btn-primary btn-sm descargar-doc" id="">Descargar factura</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>


<script>
    $(document).ready(function () {
        reloadfracciones(1);
    });
</script>