@model BlogsLibrary.BlogsEstilos

@{
    Layout = "~/Views/Shared/Modulo-Blogs/_BlogsEstilos.cshtml";
    ViewData["Title"] = "Blog - Estilos";
    ViewData["Title-Bloque-1"] = "Blogs";
    ViewData["Message"] = "Blogs - Gaolos App v2017";
}

<div class="main-content m-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 header-section">
                <h2>@ViewData["Title"]</h2>
                @Html.Raw(ViewData["Migas"])
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                
                    @if (Model.Model.Err.eserror)
                    {
                        ViewData["err"] = Model.Model.Err.mensaje;
                        @Html.Partial("AccesoDenegado");
                    }
                    else
                    {

                @* Cabecera editar estilos del blog *@

                <div class="card mb-3">
                    <div class="card-header card-header-options">
                        <span>Editar estilos blog</span>

                        <div class="card-actions">
                            <ul>
                                <li><a href="#" class="handle"><i class="fa fa-bars"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block p-0">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="col-1 text-center box-border-right-light py-2">
                                <img src="~/flaticons/business/052-contract.svg" style="width: 100%;">
                            </div>
                            <div class="col-11">

                                <div class="row p-0">
                                    <div class="col-12 p-0">
                                        <div class="px-3">

                                            <h4 class="fw-5">Editar estilos del blog de @Model.Model.SEO</h4>
                                            <p class="fw-5 mb-0 mt-2">Dominio: <span class="text-info">@Model.Model.SEO</span></p>
                                            <p class="fw-5 mb-0">Última edición: <span class="text-info">@Model.Model.Fe_Pub</span></p>
                                            <p class="fw-5 mb-0">Usuario: <span class="text-info">@Model.Model.UsuPub</span><input type="hidden" id="ID_Idi" value="@ViewData["ID_Idi"]" /><input type="hidden" id="ID_Blog" value="@ViewData["ID_Blog"]" /></p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                @* Editar tamaños de las imagenes *@

                <div class="card mb-3">
                    <div class="card-header card-header-options">
                        <span>Editar los tamaños de las imagenes del blog</span>

                        <div class="card-actions">
                            <ul>
                                <li><a href="#" class="handle"><i class="fa fa-bars"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block">

                        <div class="row">
                            <div class="col-12">
                                <form class="form-inline">
                                    <label>Tamaño imagen lista</label>
                                    <select class="form-control form-control-sm ml-3 mr-4" id="ID_ImgLista">
                                        @for (Int32 t = 0; t < Model.Model.ImgsSize.Length; t++)
                                        {
                                            string sel = "<option value='" + Model.Model.ImgsSize[t].datoI + "'>" + Model.Model.ImgsSize[t].datoS + "</option>";
                                            @if (Model.Model.ImgsSize[t].datoI == Model.Model.ID_ImgLista)
                                            {
                                                sel = "<option value='" + Model.Model.ImgsSize[t].datoI + "' selected>" + Model.Model.ImgsSize[t].datoS + "</option>";
                                            }
                                            @Html.Raw(sel)
                                        }
                                    </select>
                                    <label>Tamaño imagen detalle</label>
                                    <select class="form-control form-control-sm ml-3 mr-4" id="ID_ImgDet">
                                        @for (Int32 t = 0; t < Model.Model.ImgsSize.Length; t++)
                                        {
                                            string sel = "<option value='" + Model.Model.ImgsSize[t].datoI + "'>" + Model.Model.ImgsSize[t].datoS + "</option>";
                                            @if (Model.Model.ImgsSize[t].datoI == Model.Model.ID_ImgDet)
                                            {
                                                sel = "<option value='" + Model.Model.ImgsSize[t].datoI + "' selected>" + Model.Model.ImgsSize[t].datoS + "</option>";
                                            }
                                            @Html.Raw(sel)
                                        }
                                    </select>
                                    <button type="button" class="btn btn-sm btn-primary ml-2 blog-guardar-estilos-imagenes">Guardar</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

                @* edición de estilos - html ace editor *@

                <div class="card mb-3">
                    <div class="card-header card-header-options">
                        <span>Edición de estilos</span>
                        <div class="card-actions">
                            <ul>
                                <li><a href="#" class="handle"><i class="fa fa-bars"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="form-group">
                            <label for="CustomBlogsTextArea" class="d-flex justify-content-between align-items-center">
                                <span>Insertar código:</span>
                                <a href="#" class="btn btn-secondary btn-sm fw-5 ml-3" data-container="body" data-toggle="popover" data-placement="top" data-content="Archivos JS que se cargan en el final del documento" data-original-title="" title=""><i class="fa fa-question"></i></a>
                            </label>
                            <div id="CustomBlogsTextArea" class="editor" style="height: 700px;">@Model.Model.Titulo</div>
                        </div>
                        <div class="row justify-content-center">
                            <button type="button" class="btn btn-primary form-custom-html btn-sm blog-guardar-estilos">Actualizar</button>
                        </div>
                    </div>
                </div>

                @* edición de noticias relacionados *@

                <div class="card mb-3">
                    <div class="card-header card-header-options">
                        <span>Edición bloque noticias relacionados</span>
                        <div class="card-actions">
                            <ul>
                                <li><a href="#" class="handle"><i class="fa fa-bars"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="form-group">
                            <label for="CustomRelacionadosTextArea" class="d-flex justify-content-between align-items-center">
                                <span>Insertar código:</span>
                                <a href="#" class="btn btn-secondary btn-sm fw-5 ml-3" data-container="body" data-toggle="popover" data-placement="top" data-content="Archivos JS que se cargan en el final del documento" data-original-title="" title=""><i class="fa fa-question"></i></a>
                            </label>
                            <div id="CustomRelacionadosTextArea" class="editor" style="height: 400px;">@Model.Model.TituloRel</div>
                        </div>
                        <div class="row justify-content-center">
                            <button type="button" class="btn btn-primary form-custom-html btn-sm blog-guardar-estilos-rel">Actualizar</button>
                        </div>
                    </div>
                </div>


                    }
                
            </div>
        </div>
    </div>
</div>