@model CmsLibrary.CmsWebComponentesListadoViewModel

@{
    Layout = "~/Views/Shared/Modulo-Cms/_CmsComponentes.cshtml";
    ViewData["Title"] = "CMS - Componentes";
    ViewData["BuscarTags"] = "Buscar componente";
    ViewData["Title-Bloque-1"] = "Listado de componentes";
    ViewData["Message"] = "CMS - Gaolos App v2017";
}

<div class="main-content m-0">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 header-section">
                <h2>@ViewData["Title"]</h2>
                @Html.Raw(ViewData["Migas"])
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                
    @if (Model.Model.Err.eserror)
    {
        ViewData["err"] = Model.Model.Err.mensaje;
        @Html.Partial("AccesoDenegado");
    }
    else
    {
                
                    @* Buscar webs *@

                <div class="card mb-3">
                    <div class="card-header card-header-options">
                        <span>@ViewData["BuscarTags"]</span>

                        <div class="card-actions">
                            <ul>
                                <li><a href="#" class="handle"><i class="fa fa-bars"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-block p-0">
                        <form action="@ViewData["Form"]" method="post">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="col-1 text-center box-border-right-light py-2">
                                    <img src="~/flaticons/startup-1.svg" style="width: 100%;">
                                </div>
                                <div class="col-11">

                                    <div class="row p-0">
                                        <div class="col-12 p-0">
                                            <div class="d-flex mb-0 px-3">

                                                <div class="input-group card-search-box">
                                                    <input type="text" class="form-control" placeholder="Buscar por..." name="buscar" value="@ViewData["buscar"]">
                                                    <input type="hidden" id="ID_Idi" value="@ViewData["ID_Idi"]">
                                                    <span class="input-group-append">
                                                        <button class="btn btn-primary btn-sm" type="submit">BUSCAR</button>
                                                    </span>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

                    @* Listado componentes *@

                    <div class="row">
                        <div class="col-8">
                            <div class="card card-table">
                                <div class="card-header card-header-options">
                                    <span>@ViewData["Title-Bloque-1"]</span>
                                    <div class="input-group input-group-sm col-5 mr-0 pr-0">
                                        <input type="text" class="form-control form-control-sm" id="Breve" placeholder="Nuevo componente">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-primary btn-sm nuevo-compo-libre">Nuevo</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-block">

                                    <table class="table table-striped table-select">
                                        <thead>
                                            <tr>
                                                <th class="w-5 text-center">Id</th>
                                                <th>Fecha</th>
                                                <th>Breve</th>
                                                <th>Descripción</th>
                                                <th>Variable</th>
                                                <th class="text-center">Html</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
    @if (Model.Model.det != null)
    {
        @for (Int32 t = 0; t < Model.Model.det.Length; t++)
        {
                                            
                                                    <tr class="tags-datos-tag">
                                                        <td class="w-5 text-center">
                                                            <p class="fw-5 mb-0">@Model.Model.det[t].ID_Compo2</p>
                                                        </td>
                                                        <td>
                                                            <p class="m-0">@Model.Model.det[t].Fe_Al</p>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0"><a href="#" id="sel_@Model.Model.det[t].ID_Compo2" class="sel-componente fw-5">@Model.Model.det[t].Breve</a></p>
                                                        </td>
                                                        <td>
                                                            <p class="m-0">@Model.Model.det[t].Expo</p>
                                                        </td>
                                                        <td>
@{
    string txt = "$Com_" + Model.Model.det[t].ID_Compo2.ToString() + "_Com$";
}
                                                            <p class="m-0">@Html.Raw(txt)</p>
                                                        </td>
                                                        <td class="text-center">@if (Model.Model.det[t].EsHtml)
                                                        {
                                                            <a href="/modulo-cms/componentes/componente?ID_Compo2=@Model.Model.det[t].ID_Compo2" class="btn btn-primary btn-sm" target="_blank">Editar</a>
                                                        }
                                                        </td>
                                                    </tr>
                                            
        }
    }
    else
    {
        <tr><td colspan="5" class="text-danger fw-5"><p class="mb-0"><i class="fa fa-times"></i> No hay resultados</p></td></tr>
    }
                                            
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            
    @Html.Raw(Model.Model.Paginador)
                            
                        </div>


                        <div class="col-4">

                            @* Sin datos *@
                            <div class="card card-table mb-3" id="versininfo">
                                <div class="card-header card-header-options">
                                    <span>Información</span>
                                    <div class="card-actions">
                                        <ul>
                                            <li><a href="#" class="handle"><i class="fa fa-bars"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block" role="tablist" aria-multiselectable="true">
                                    <div class="text-center mt-4 mb-4 p-5 bloque-sin-informacion">
                                        <img src="~/flaticons/chat.svg" style="width: 25%;">
                                        <p class="pt-4">Si clica encima de un componente, le aparecerán todas las propiedades para consultar y/o modificar.</p>
                                    </div>
                                </div>
                            </div>


                            @*Definir prefijo de los tags - listado*@

                            <div class="card mb-3" id="ver-componentes" style="display: none;">
                                <div class="card-header card-header-options">
                                    <span id="nom-componente"></span>
                                    <div class="card-actions">
                                        <ul>
                                            <li><a href="#" class="handle"><i class="fa fa-bars"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block p-0">
                                    <div class="row p-3" id="content-propiedades">
                                        <div class="col-12">
                                            <div class="form-group mb-2">
                                                <p class="text-danger fw-5 mb-0 px-3"><i class="fa fa-times"></i> No hay resultados</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

    }
                
            </div>
        </div>
    </div>
</div>

